.blog_calendar .year_title {
    cursor:pointer;
}

.blog_calendar .months {
    display: none;
    padding-left:15pt;
    padding-bottom:5pt;
}

.blog_calendar .year_active .months {
    display: block;
}

.blog_calendar .year_active .year_title {
    font-weight: bold;
}