.vacancy_list {
}

    .vacancy_list .vacancy {
        margin-bottom: 20px;
    }
        .vacancy_list .vacancy a {
            color: white;
        }
            .vacancy_list .vacancy a h2 {
                
            }
       
.vacancy_record_wrap {

}

    .vacancy_record_wrap .vacancy_record {
    
    }

        .vacancy_record_wrap .vacancy_record h2 {
        } 
        .vacancy_record_wrap .vacancy_record .text-block {
            margin-bottom: 20px;
        }
            .vacancy_record_wrap .vacancy_record .text-block ul {
                list-style-type: circle;
                margin-left: 30px;
            }
                .vacancy_record_wrap .vacancy_record .text-block ul li {
                    
                }