.fx_shadow () {
    -webkit-box-shadow: 0px 5px 12px rgba(50, 50, 50, 0.56);
    -moz-box-shadow:    0px 5px 12px rgba(50, 50, 50, 0.56);
    box-shadow:         0px 5px 12px rgba(50, 50, 50, 0.56);
}

.fx_admin_form {
    
    //padding:0 20px;
    
    &__body {
        padding: 20px 40px;
        overflow: auto;
        margin-right:-40px;
    }
    
    &__title {
        font-size:18px;
        font-weight:500;
        color:#222;
    }
    &__header {
        padding: 8px 20px;
        position:relative;
        border-bottom: 1px solid #eaeaea;
        a {
            cursor:pointer;
        }
    }

    &__header_fields {
        float:left;
        
        .field_checkbox {
            margin-top:5px !important;
            input[type=checkbox] + label {
                font-size:13px;
            }
        }
    }

    &__title + &__header_fields {
        margin-left:-20px;
        margin-top:5px;
    }

    &__footer {
        padding: 20px 0;
        position: relative;
        display:none;
        //margin-top:-20px;
        &-sticky {
            border-top: 1px solid #eaeaea;
            margin-top:0;
        }
    }
    
    &__footer_fields {
        position:absolute;
        right:30px;
    }
    
    &__buttons {
        &-in_header {
            position: absolute;
            top: 50%;
            margin-top: -20px;
            right:20px;
        }
    }
    
    &.fx_form_horizontal {
        .fx_admin_form__tab_labels {
            position: relative;
            top:-8px;
            margin-bottom:-8px;
        }
        .fx_admin_form__tab_data {
            display:inline-block;
        }
    }
    
    .fx_admin_form__header {
        min-height:60px;
        display:flex;
        align-items:center;
        .fx_admin_form__title {
            order:1;
        }
        .fx_admin_form__header_fields {
            order:2;
            margin-top:5px;
            margin-right:20px;
        }
        .fx_admin_form__tab_labels {
            order:3;
        }
    }
    
    .fx_admin_form__title {
        //margin-top:13px;
        float: left;
        margin-right: 30px;
    }
    
    &.fx_form_vertical &__header {
        padding:20px 40px;
    }
    &.fx_form_vertical &__body {
        margin-right: 0;
    }
    &.fx_form_vertical &__footer {
        padding:20px 40px;
    }
    
    .fx_list_cell .fx_input {
        margin-bottom:0;
    }


}

.fx-side-panel_style_default {
    .fx_admin_form {
        
        display: flex;
        flex-direction: column;
        height: 100vh;
        
        &__header, &__footer {
            flex-shrink: 0;
        }
        
        &__footer {
            border-top:1px solid #eaeaea;
        }
        
        &__body {
            flex-shrink: 1;
            flex-grow:1;
        }
    }
}


.fx_admin_form a, .fx_admin_form .ui-state-default a {
    cursor: pointer;
}

.fx_admin_form .ui-state-active a {
    color: #333;
}

.fx_admin_form, .fx_admin_form .ui-widget input, .fx_admin_form .ui-widget select.fx_input, .fx_admin_form .ui-widget textarea.fx_input, .fx_admin_form .ui-widget button {
    font-size: 15px;
}

.fx_admin_form .field {
    clear: both;
}

.fx_admin_form label {
    font-size: 13px;
    color: #333;
}

.livesearch__input {
    font-family: Roboto;
}

.fx_focused() {
    border:1px solid @mid_color;
    outline-color: @mid_color;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.fx_admin_form {
    
    .field {
        margin-bottom:30px;
    }
    
    .fx_input {
        font-family: Roboto, Tahoma, sans-serif;
        display: block;
        //margin: 0 0 30px 0;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        font-size:15px;
    }
    .redactor_fx_wysiwyg, .fx_input {
        padding:8px 12px;
        border-radius:2px;
        border:1px solid #dddddd;
        &, &:focus, &:active {
            box-shadow:none;
        }
        &:focus, &:active {
            .fx_focused();
        }
    }
}

#fx_admin_content {
    .fx_input, .redactor-box, .livesearch {
        width:100%;
    }
    .fx_group_input .field {
        width:100%;
    }
    
    .fx_fieldset_row .fx_input {
        width:auto !important;
    }
    
    .fx_admin_form .fx_admin_form__body {
        margin-right:0;
        & > .field, & .container > .field {
            //width:50%;
            width:100%;
            max-width:600px;
        }
        & > .field_name__console_text,
        & > .field_list {
            max-width:none;
            width:100%;
        }
    }
    .fx_admin_form__footer {
        padding:20px;
    }
    .fx_admin_form__header {
        display: none;
    }
}


.fx_date_input() {
    .fx_date_parts {
        display:inline-block;
        padding:7px 13px;
        border:1px solid #dddddd;
        border-radius:2px;
        background:#FFF;
        &, input.fx_date_part {
            //font-family:monospace;
            font-size:15px;
            outline:none;
        }
        &__with_datepicker {
            padding-right:50px;
            margin-right:-22px;
        }
    }
    
    .fx_date_part {
        width:1.6em;
        border: none;
        text-align:center;
        &_y {
            width:2.5em;
        }
    }
}

.date_field {
    //position: relative;
    
    .fx_date_input();
    
    .fx_datepicker_icon {
        display: inline-block;
        width: 21px;
        height: 24px;
        vertical-align: top;
        cursor: pointer;
        background: url('images/sprite.png') no-repeat -1690px -6px;
        position:relative;
        left:-15px;
        top:3px;
    }
}

.fx_admin_form #colorpickerHolder2 input {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.fx_admin_form label input[type=checkbox], .fx_admin_form label input[type=radio] {
    display: inline !important;
    margin: 0 5px 0 0;
}

.fx_admin_form .fx_file_choice {
    border: 1px solid #C6C7C3;
    padding: 0 0 10px 5px;
}

.fx_admin_form .fx_file_list .fx_itemselect_item {
    float: left !important;
    height: 200px !important;
    width: 200px !important;
    padding: 10px !important;
}


.fx_admin_form .fx_admin_radio_label, .fx_admin_form .fx_admin_checkbox_label {
    font-weight: normal !important;
    font-size: 12px !important;
}

.fx_admin_form .fx_form_buttons {
    overflow:hidden;
    margin-top:14px;
}


/* HORIZONTAL FORM */
#fx_admin_control, .fx_node_panel {
    .redactor-box {
        min-width:285px;
        max-width:600px;
        ul, ul li {
            list-style-type:disc;
        }
        ol, ol li {
            list-style-type:decimal;
        }
        ul, ol {
            margin-left:20px;
        }
        li {
            margin-bottom:10px;
        }
    }

    .redactor-editor {
        max-height:350px;
    }
    .redactor-toolbar {
        left:0;
        top:0;
        border: none;
        //min-width:525px;
        .redactor-separator {
            border-right:none;
            height:31px;
        }
    }
    
    .livesearch_items {
        min-width:150px;
        width:auto;
        background:#FFF;
    }
    .field_set .fx_image_field img {
        max-height:55px;
    }
}

.fx_form_horizontal {
    
    .redactor-toolbar {
        background: #FFF !important;
        border:none !important;
        top:2px;
        left:10px;
    }
    .field {
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
        padding-right: 15px;
        margin-bottom:5px;
        &:last-child {
            border-right: none;
            margin-right:0;
        }
        &.field_checkbox {
            margin-top:0;
            margin-bottom:0;
        }
        &.field_group {
            margin-right:0;
            white-space:nowrap;
        }
    }
    .fx_input {
        //max-width: 135px;
        max-width:300px;
        margin-bottom:0;
        display:inline-block;
    }
    .field_text .input_container {
        overflow:hidden;
        max-width:150px;
    }
    .form_label {
        display:block;
        min-height:16px;
    }
}

.fx_form_horizontal, .fx_form_vertical {
    label, input, select, textarea {
        display: inline;
        font-size: 15px;
        width: auto;
        margin: 0;
    }
    label {
        font-size:13px;
        color:#555555;
    }
    .fx_date_input();
    .fx_date_parts {
        background:#FFF;
    }

    .livesearch_items {
        padding: 4px;
        box-sizing: border-box;
        .livesearch_input {
            width:3px;
        }
    }
}

.fx_form_vertical {
    .form_label {
        margin-top:0;
    }
    .input_container {
        margin-bottom:30px;
    }
    .field_last .input_container {
        margin-bottom:0;
    }
    textarea {
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        width:100%;
        min-height:70px;
    }
    .fx_input {
        width:100%;
        &.fx_input_floatfield {
            max-width:150px;
        }
    }
}

#fx_admin_control {
    .fx_textarea_container {
        position:relative;
        .redactor-toolbar {
            display:block;
            position:absolute;
            visibility:hidden;
            top:-33px;
            height:32px;
            right:0;
            left:initial;
        }
        &.fx_textarea_container_redactor_focused .redactor-toolbar {
            visibility:visible;
            box-shadow:0px -1px 10px rgba(0,0,0,0.2)
        }
        .redactor-editor {
            &, p, li {
                font-size:13px;
            }
            p, ul, ol, li {
                margin-top:5px !important;
                margin-bottom:5px !important;
            }
        }
    }
}

#fx_admin_control .fx_form_horizontal {
    .field_text .input_container {
        max-width:none;
        width:550px;
    }
    textarea.fx_input {
        max-width:none;
        width:100%;
        height:100px;
    }
}

/* VERTICAL FORM */
#fx_admin_extra_panel form.fx_form_vertical .field {
    margin-bottom:10px;
    overflow: hidden;
}
#fx_admin_extra_panel form.fx_form_vertical .form_label {
    float:left;
    width:10%;
    margin-top:0;
    margin-right:1%;
    text-align: right;
}

#fx_admin_extra_panel form.fx_form_vertical .input_container {
    float:left;
    width:70%;
}

#fx_admin_extra_panel form.fx_form_vertical .fx_input {
    margin-top:0;
    margin-bottom: 0;
}

.fx_button_preset {
    //display: inline-block;
    margin-top: 6px;
    color: #E33;
    max-width:130px;
    //border-bottom: 1px dashed #E33;
    font-size:11px;
    cursor: pointer;
}

/* INLINE RADIO LIST */
.inline .fx_admin_radio_label {
    display: inline;
    padding-right: 12px;
}

.fx_admin_form .form_label {
    margin-bottom: 5px;
    //margin-top: 14px;
}

.fx_admin_form .field_checkbox {
    //margin-top:10px;
    //margin-bottom:10px;
    input[type="checkbox"] {
        margin-left:0;
    }
}

.fx_admin_form .field_class_toggler {
    margin-top:0;
}

#fx_admin_fields {
    position: relative;
    top: -6px;
}

#fx_admin_fields .field {
    float: left;
    min-width: 40px;
    margin-right:15px;
    margin-left:15px;
}

#fx_admin_fields .fx_image_field {
    background: #FFF;
}

.fx_image_field {
    .fx_preview img {
        max-width:1px;
        max-height:1px;
        transition: all 0.5s ease;
        border:1px solid #EEE;
        display:block;
        margin-top:0;
        .fx_chess_background(@size: 25px; @dark:rgba(0,0,0,0.8); @light:rgba(100,100,100,0.8));
    }
    .fx_file_info {
        margin-top: 10px;
        display: none;
        font-size: 13px;
        color: #999;
        a, span {
            display:inline-block;
            margin-right:15px;
        }
    }
    .fx_admin_button_text, .remote_file_block {
        margin-right:10px;
    }
    .fx_preview {
        position:relative;
        min-height:24px;
        
    }
    .fx_file_controls {
        min-width:83px;
        overflow:hidden;
        border:1px solid #ececec;
        border-radius:2px;
        display:inline-block;
        a {
            cursor:pointer;
        }
    }
    
    .fx_file_killer, .fx_remote_file_block, .fx_file_uploader, .fx_image_cropper {
        display:block;
        float:left;
        padding:2px 12px;
        &:last-child {
            border-right:none;
        }
    }
    
    .fx_file_uploader {
        border-right:1px solid #ececec;
    }
    
    .fx_file_killer, .fx_image_cropper {
        display:none;
    }
    
    
    .fx_preview_filled {
        .fx_file_killer, .fx_image_cropper {
            display:block;
        }
        .fx_remote_file_block {
            border-right:1px solid #ececec;
        }
        img {
            max-height:140px;
            max-width:200px;
            margin-top:15px;
        }
        .fx_file_info {
            display:inline-block;
        }
    }
    
    .fx_remote_file_block {
        font-size:12px;
        input.fx_input {
            width:125px !important;
            display:none !important;
            margin-bottom:0;
        }
        &.active {
            .fx_icon {
                display:none;
            }
            input.fx_input {
                display:inline !important;
                box-sizing: border-box;
                padding-top: 5px;
                padding-bottom:5px;
                margin-top:1px;
                border: none;
            }
            //margin-right:-30px;
        }
        a {
            cursor:pointer;
        }
        /*
        a, span {
            line-height:30px;
            vertical-align:middle;
        }
        */
    }
    
    .fx_form_horizontal & {
        .fx_file_info {
            display:none;
        }
        .fx_file_controls {
            vertical-align:top;
        }
        .fx_preview_block {
            display:inline-block;
        }
        .fx_preview_filled img {
            max-height:50px;
            margin:0;
        }
    }
}


#fx_admin_fields .fx_image_field img {
    max-height:34px;
    float: left;
    margin-right: 10px;
}

.fx_overlay .fx_image_field .file_input {
    overflow: hidden;
    width:1px;
    height:1px;
    display:inline-block;
    float:left;
}

#fx_admin_fields .fx_input, 
//#fx_admin_extra_panel .fx_input, 
.fx_node_panel .fx_input {
    margin-top:6px;
    border:1px solid #e1e1e1;
    padding:5px 3px 4px 3px;
}

.fx_node_panel .fx_input {
    margin-top:3px;
}
.fx_node_panel .fx_input_int {
    width:60px;
}


#fx_admin_extra_panel .livesearch {
    max-width:600px;
}

#fx_admin_control .editor_panel {
    float: left;
    position: relative;
    top: -4px;
}

.fx_admin_form .fx_admin_multi_checkbox input {
    margin-bottom: 0;
}

#nc_upload_target, .fx_admin_form .fx_file_list {
    display: none;
}

.fx_admin_form .fx_file_choice span, .fx_layer_name span {
    border-bottom: 1px dashed #2A6DA0;
    color: #2A6DA0;
    cursor: pointer;
}

.fx_admin_form_datetime input, .fx_admin_form .fx_admin_checkbox_label {
    display: inline;
}

.fx_admin_form .fx_fieldset {
    .fx_fieldset_label label {
        font-size:12px;
        margin-right:25px;
    }
    .fx_fieldset__add {
        margin:20px 0 5px 0; 
        
        font-size:13px;
        
        display: inline-block;
        
        a {
            display:inline-block;
            margin-right:5px;
            text-decoration: none;
            border-bottom: 1px dashed #2d54ff;
        }
    } 
    
    table {
        border-collapse: collapse;
        min-width:100%;
    }
    
    td {
        padding:10px 15px;
        white-space: nowrap;
        vertical-align:top;
        border-bottom:1px solid #EEE;
    }
    
    
    input[type="text"], select, textarea {
        width:auto;
        margin:0;
        display:inline-block;
        min-width:100%;
    }
    
    input.fx_input_number {
        margin-right:3px;
    }

    a.fx_fieldset_remove {
        color:#F00;
        font-weight:bold;
        text-decoration:none;
        margin-right:10px;
    }
    
    .field_raw__value {
        margin-right: 25px;
        margin-bottom:5px;
        margin-top:5px;
    }
    
    .fx_fieldset_row__controls {
        width:100px;
    }
}

//.fx_admin_form__body .fx_fieldset > table {
.fx_admin_form__body .field_set {
    margin-left:-40px;
    margin-right:-40px;
    & > .form_label, .fx_fieldset__add {
        margin-left:40px;
        margin-right:40px;
    }
    
}

.fx_number_field_units {
    font-size:13px;
    color:#666;
}

.fx_admin_form.fx_form_cols .field_set .form_label label {
    text-align: center;
    display: block !important;
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
    padding-top: 10px;
}

.fx_overlay .CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
.fx_overlay .CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    height:auto;
}

.fx_overlay .field_hidden {
    display:none !important;
}

.fx-toggle-button {
    border: 1px solid #dddddd;
    border-radius:2px;
    padding: 8px 12px;
    display:inline-block;
    cursor:pointer;
    color:#333;
    position:relative;
    max-width:220px;
    overflow:hidden;
    white-space:nowrap;
    &_on {
        background:#e2e9fe;
        color:#2d63ff;
    }
}

.fx-radio-facet {
    &__variant {
        border: 1px solid #dddddd;
        border-right:none;
        //border-radius: 2px;
        padding: 8px 12px;
        //margin-right: 5px; 
        display:inline-block; 
        cursor:pointer;
        color:#333;
        position:relative;
        max-width:220px;
        overflow:hidden;
        white-space:nowrap;
        &:after {
            content: '';
            position: absolute;
            left: 170px;
            height: 36px;
            width: 50px;
            top: 0;
            background: linear-gradient(to right, transparent, #FFF 60%, #FFF);
        }
        &_active {
            background:#e2e9fe;
            color:#2d63ff;
            &:after {
                background: linear-gradient(to right, transparent, #e2e9fe 60%, #e2e9fe);
            }
        }
        &:focus {
            z-index:2;
        }
        &:first-of-type {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &:last-child {
            border-right:1px solid #dddddd;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }
}

.fx_popup {
    padding: 10px;
    z-index: 3010;
    background-color: #FFF;
    border: 1px solid #e4e6e6;
    .fx_shadow;
    .fx_popup_arrow {
        display: block;
        background: url("images/popup_arrow.png") no-repeat 0 0;
        width: 13px;
        height: 8px;
        position: absolute;
        top: -8px;
    }
    input[type='text'].fx_input {
        &.short {
            max-width: 120px !important;
        }
        max-width: 200px !important;
        width: 200px !important;
    }
    select.fx_input[name*='operator'] {
        width: 100% !important;
    }   
}

.fx-top-panel {
    box-shadow:0 3px 5px rgba(0,0,0,0.5);
    display:none;
    overflow:auto !important;   
    &_overflow_hidden {
        overflow:hidden !important;
    }
    .monosearch {
        display:inline-block;
        vertical-align:middle;
    }
    
    &_going-out {
        box-shadow:none;
        border-bottom:1px solid #999;
    }
}


// Google maps input

.fx_map_field {
    position:relative;
    .map_link {
        position: absolute;
        top: 9px;
        right: -25px;
        background: #fff;
        font-size:11px;
        display:none;
    }
    .fx_input.map_address_input {
        //width:400px !important;
        //max-width:400px !important;
        font-size:13px;
    }
}

.field_map .map_container {
    //position:absolute;
    //z-index:10000;
    //display:none;
    //border:1px solid #CCC; 
    //width:400px; 
    height:300px; 
    margin-top:10px;
    box-sizing:border-box;
}

.pac-container {
    z-index:10000 !important;
}

.field_joined_group {
    
    overflow:hidden;
    
    .fx_group_label_separator {
        font-size:10px;
    }
    .fx_group_label {
        border-bottom:1px dotted @button_color;
        color:@button_color !important;
        cursor:pointer;
        &.fx_group_label_active {
            color:#555 !important;
            border:none;
            cursor:default;
        }
    }
}

.fx_field_limit {
    .fx_input_limit {
        width: 65px !important;
        display: inline-block;
        margin-right:10px;
        &[disabled="disabled"] {
            width: 2px !important;
            padding-left: 0;
            visibility: hidden;
            padding-right: 0;
          }
    }
}

.fx_input_number {
    width:85px !important;
    padding-right:5px !important;
}

.fx_input_number_d {
    width:50px !important;
}

.fx_input_number_ddd {
    width:70px !important;
}

.fx_input_number_dd {
    width:60px !important;
}

.fx_list_filter {
    width: 100%;
    height: 35px;
    clear: both;
    //margin: 30px 0 20px;
}

.fx_list_filter label, .fx_list_filter label input {
    margin: 2px 0 0 10px !important;
}

.fx_list_filter .fx_list_search {
    float: left;
    margin: 0 0 0 5px;
}

.fx_list_filter .fx_list_search input {
    height: 8px !important;
}

.fx_list_filter .fx_list_group {
    float: right;
    margin: 0 5px 0 0;
}

.fx_list_labels td {
    color: #666;
    input, select {
        display:block;
    }
}

.fx_list {
    clear:both;
    .fx_admin_button_text {
        height: auto;
        background:none;
        float: left;
        cursor: pointer;
        margin: 0 20px 0 0;
        border:none;
        text-decoration: none !important;
        white-space: nowrap;
        box-sizing:border-box;
        span {
            margin: 0 10px;
            color:#3fb7de;
        }
    }
    td:first-child a {
        text-decoration:none;
    }
}

.fx_list .fx_list_separator {
    font-size:10px; 
    color:#777;
}

.fx_list_table .fx_list_cell_buttons {
    padding-top:0;
    padding-bottom:0;
}

.fx_list_buttons {
    visibility:hidden;
}

.fx_list_row:hover {
    background:#F9F9F9;
    border-bottom:1px solid #ddd;
    .fx_list_buttons {
        visibility:visible;
        opacity:0.6;
    }
}

.fx_admin_selected .fx_list_buttons {
    visibility:visible;
    opacity:1 !important;
}

.fx_list_table {
    width: 100%;
    border-collapse: collapse;
}

.fx_list_table td {
    vertical-align: top;
    padding: 5px 10px;
    font-size:13px;
}

.fx_list_table h2 {
    font-size:14px;
}


.fx_list_row {
    border-bottom: 1px solid #efefef;
}

.fx_list_image {
    height: 100px;
}

.fx_list_row_first {
    border-top: 1px solid #efefef;
}

.fx_list_row_item {
    float: left;
    margin-right: 20px;
}

.fx_list_row_item h2 {
    margin: 0;
}

.fx_admin_selected .fx_list_cell {
    background: #FCFDBA;
}

.fx_list_cell {
    //width: 15%;
}

.fx_list_cell .fx_button {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.fx_list_cell_image {
    width: 1%;
}

.fx_list_cell_last {
    //width: 50%;
}

.fx_pager {
    clear:both;
    &__link {
        display:inline-block;
        margin-right:5px;
        padding:1px 3px;
        border:1px solid #CCC;
        border-radius:3px;
        text-decoration:none;
        
        &-active {
            color:#000 !important;
            cursor:text !important;
            border:1px solid #000;
        }
    }
}

.fx_condset {
    .form_label {
        display:none;
    }
    
}

select.fx_input {
    &, .fx_admin_form & {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance:none;
        padding-right:30px;
        padding-left:8px;
        padding-top:8px;
        padding-bottom:8px;
        background:url('images/controls.png') no-repeat 100% 15px;
    }
}

.field_checkbox {
    input[type=checkbox] {
        /* original check box are push outside the viexport */
        position: absolute;
        left: -1000em;
        
        & + label {
            font-size:15px;
        }
        
        & + label:before {
            content:'';
            display: inline-block;
            width  : 18px;
            height : 18px;
            background:url('images/controls.png') no-repeat 0 -38px;
            margin-right:7px;
            position:relative;
            top:3px;
        }
        
        &:checked + label:before {
            background-position: 0 -145px;
        }
        
        &:focus + label:before {
            outline: -webkit-focus-ring-color auto 5px;
            background-position: 0 -74px;
        }
        
        &:focus:checked + label:before {
            background-position: 0 -109px;
        }
        &[disabled="disabled"] {
            & + label, & + label:before {
                opacity:0.5;
            }
        }
    }
    &.field_class_locker input[type="checkbox"] {
        & + label:before {
            cursor:pointer;
            width  : 25px;
            height : 26px;
            background-position:0 -183px;
        }
        &:checked + label:before {
            background-position: 0 -227px;
        }
    }
}

.fx-field-group {
    
    &__fields {
        display:none;
        padding-top:20px;
    }
    
    margin-bottom:20px;
    
    &__title {
        display:block;
        padding:10px 0;
        position:relative;
        background:#f7f7f7;
        border:1px solid #f7f7f7;
        cursor:pointer;
        
        &:focus, &:hover {
            background:#f2f5ff;
        }
        &:focus {
            border: 1px solid #aac0ff;
            outline-color: #aac0ff;
            outline-offset: -2px;
            outline-style: auto;
            outline-width: 5px;
        }
    }
    
    &__name {
        color:@main_color;
        font-weight:500;
        display:inline-block;
    }
    
    &__description {
        display: inline-block;
        font-size: 13px;
        color: #999;
        margin-left:10px;
    }
    &__title:hover &__description {
        color:#b8c0da;
    }
    
    &_expanded {
        border-bottom:1px solid #CCC;
        &:after {
            content:'';
            display:block;
            width:1px;
            height:1px;
        }
    }
    
    &_expanded &__fields {
        display:block;
    }
    
    &__expander {
        position:absolute;
        right:25px;
        top:14px;
        width:13px;
        height:10px;
        background:url('images/sprite.png') no-repeat -1813px -7px;
    }
    
    &_expanded &__expander {
        background-position:-1813px -26px;
    }
    
    &_style_transparent {
        margin-bottom:0;
    }
    
    &_style_transparent &__fields {
        padding-top:0;
        display:block;
    }
}

.fx-side-panel {
    .field_group {
        margin-top:25px;
        margin-left:-40px;
        margin-right:-40px;
    }
    
    .fx-field-group__title, 
    .fx-field-group__fields {
        padding-left:40px;
        padding-right:40px;
    }
}

.fx_toggler {
    &__control {
        display:inline-block;
        width:50px;
        height:20px;
        border-radius:2px;
        background:#cccccc;
        cursor:pointer;
    }
    &__runner {
        background:#fff;
        display:inline-block;
        position:relative;
        left:2px;
        transition:all 0.15s ease;
        width:16px;
        height:16px;
        top:2px;
    }
    &, &__control, &__label {
        display:inline-block;
        vertical-align:middle;
    }
    
    &__label {
        margin-right:30px;
    }
    
    label {
        font-size:12px;
        font-weight:500;
        color:#888888;
    }
    &__state_on, &__state_off {
        font-size:15px;
        color:#333333;
    }
    
    &_on &__control {
        background:#2d63ff;
    }
    &__control:hover {
        background:#e4e4e4;
    }
    &_on &__control:hover {
        background:#648cff;
    }
    &_on &__runner {
        left:32px;
    }
    &_on &__state_off,
    &_off &__state_on {
        display:none;
    }
}

.field_group-type_line {
    &>.input_container {
        display:table;
        margin-bottom:0;
    }
    .fx_group_input {
        display:table-cell;
        padding-right:10px;
    }
}

.fx_lock_group {
    &:after {
        content: '';
        clear:both;
        display:block;
        opacity:0;
    }
    .fx_lock_control {
        width:30px;
        height:20px;
        float:left;
        position:relative;
        top:-8px;
    }
    .fx_lock_container {
        width:100%;
        margin-left:-30px;
        padding-left:30px;
        float:left;
    }
    
    #fx_admin_content & {
        margin-left:10px;
        width:50%;
    }
    .fx-side-panel & {
        margin-left:-30px;
    }
}

.fx_field_hidden_by_condition {
    display:none !important;
}

.fx_admin_form_configurable {
    .field, label {
        cursor:move;
    }
}

.fx-form_sorting-in-progress {
    .fx_field_config_controls {
        display:none;
    }
}

.fx_form_extra_link {
    display:inline-block;
    margin-top:10px;
}


.fx_admin_form.fx_scope_form {
    .fx_admin_form__header_fields, .fx_admin_form__header .field, .fx_admin_form__title {
        display:inline-block;
        margin:0;
        vertical-align:middle;
    }
    .fx_admin_form__header {
        .form_label {
            display:none;
        }
        .input_container {
            margin-bottom: 0;
            margin-left:30px;
        }
    }
}

.fx-colorset {
    display:inline-block;
    width:200px;
    &__common &__slider {
        margin-bottom:10px;
    }
    &__colors {
        display:flex;
        margin-top:20px;
    }
    &__color {
        font-size:13px;
        padding:4px 10px;
        outline: 1px solid #000;
        flex-grow: 1;
        min-height: 20px;
        &_level {
            &_0, &_1 {
                color:#FFF;
            }
        }
        &_tweaked {
            position:relative;
            &:after {
                content:'*';
                position:absolute;
                top:-13px;
                left:14px;
                color:#F00;
            }
        }
    }
    &__popup {
        position:fixed;
        z-index:10001;
        padding:10px;
        border-radius:3px;
        background:#FFF;
        .fx_shadow();
        .fx_input_text {
            display:inline-block;
            vertical-align:middle;
        }
    }
    &__popup-preview {
        display: inline-block;
        height: 36px;
        width: 35px;
        border: 1px solid #ccc;
        vertical-align: middle;
        margin-left: 10px;
    }
}

.fx-colorset-stage {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20000;
    display: flex;
    flex-direction: column;
    &__row {
        display: flex;
        flex-grow: 1;
    }
    &__cell {
        flex-grow: 1;
        padding:5px 0;
    }
    &__line {
        padding: 3px 25px;
        text-align:right;
        font-size:11px;
        b {
            font-size: 17px;
            display: inline-block;
            margin-left: 20px;
        }
    }
}

.fx-number-slider {
    min-height: 8px;
    position: relative;
    
    &__point {
        position: absolute;
        left: 0;
        top: 50%;
        width: 12px;
        height: 12px;
        border: 1px solid #000;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 12px;
        margin-left: -6px;
        margin-top: -6px;
        cursor:pointer;
    }

    &_disabled, &_disabled &__point {
        cursor:not-allowed;
    }
}

.fx-palette {
    @margin:10px;
    
    &__color {
        margin-bottom:@margin;
        font-size:0;
        &:last-child {
            margin-bottom:0;
        }
    }
    &__color-level {
        display: inline-block;
        width: 15px;
        height: 15px;
        outline: 1px solid #000;
        cursor:pointer;
        margin-right:@margin;
        &:last-child {
            margin-right:0;
        }
        &_active {
            outline:3px solid #000;
        }
    }
    &__colors {
        display:none;
        position:fixed;
        z-index:10000;
        border:1px solid #CCC;
        background:#FFF;
        padding:@margin;
        margin-left: @margin * -1;
        margin-top:2px;
    }
    &__value-color-wrapper {
        display:inline-block;
        line-height:0;
        .fx_chess_background(@size: 5px; )
    }
    &__value-color {
        display:inline-block;
        cursor:pointer;
        width: 15px;
        height: 15px;
        outline:1px solid #000;
        &:focus {
            box-shadow: 0px 0px 6px 2px #3357BD;
        }
    }
    //&__value-color_empty, 
    &__color-level_none {
        &:after {
            content: "\00d7";
            font-size: 18px;
            position: relative;
            top: -1px;
            left: 3px;
            color: #F00;
            display: inline-block;
            line-height: 18px;
        }
    }

    &__opacity-wrapper {
        margin-bottom:10px;
        outline:1px solid #000;
        .fx_chess_background(@size: 5px; )
    }
    &__opacity {
        background:linear-gradient(to right, transparent, #fff);
        height:15px;
    }
}

.fx-font-preview-item {
    white-space:nowrap;
    font-size:18px !important;
}

.fx-css-font-field {
    &__controls {
        .livesearch, .fx-toggle-button, .fx_number_field_units {
            margin-right:5px;
        }

        .fx-toggle-button {
            vertical-align:middle;
        }
    }
    &__handler {
        display:inline-block;
        cursor:pointer;
        color:@button_color;
    }
    &__extras {
        position:fixed;
        width:350px;
        display:flex;
        flex-wrap:wrap;
        background:#FFF;
        border:1px solid #EEE;
        border-radius:2px;
        padding:15px 10px;
        z-index:2680;
        .fx_shadow();
        & > .field {
            width:50%;
            &:nth-child(2n-1) {
                padding-right:20px;
            }
            .fx_input {
                display:inline-block;
            }
        }
    }
}

.fx-ratio-input {
    &__control {
        width:320px;
        border-radius:2px;
        position:absolute;
        top:0;
        left:0;
        display:none;
        flex-wrap: wrap;
        justify-content: space-between;
        padding:0 5px;
        border:1px solid #CCC;
        background:#FFF;
        z-index:10000;
        &_active {
            display:flex;
            &:after {
                content: '';
                flex-grow: 1;
            }
        }
    }
    &__item-container {
        padding:5px;
        margin:5px 0;
        display:flex;
        border:1px solid transparent;
        cursor:pointer;
        &_auto {
            width:100%;
        }
    }
    
    &__item-container_auto &__item {
        color:#F00 !important;
        padding:5px 15px;
        background:#EEE;
    }
    
    &__item-container_auto &__item_active {
        background:#F00;
        color:#FFF !important;
    }
    
    &__item, &__visible {
        box-sizing: border-box;
        font-size: 11px;
        border: 1px solid #CCC;
        display: flex;
        border-radius: 2px;
        color:#666;
        cursor:pointer;
        justify-content:center;
        align-items:center;
        background: #E5ECFF;
    }
    
    &__visible {
        color:#000;
    }
    
    &__item-container:hover &__item {
        border-color:#999;
        color:#000;
    }
    
    &__item_active {
        background:#3D71FF;
        color:#FFF !important;
        border-color:transparent;
    }
}

.fx-background-control {
    &__levels {
        display:table;
        margin:6px -10px 0 -10px;
        .fx_input_number {
            display:inline-block;
        }
    }
    
    &__add-level {
        border-top: 1px solid #ccc;
        margin:0 -10px -10px -10px;
        padding:10px;
    }
    
    &__handler {
        .fx_chess_background(@size: 5px);
        min-width:40px;
        height:35px;
        display:inline-block;
        cursor:pointer;
        border: 1px solid #ccc;
        border-radius: 3px;
        line-height:0;
        & > span {
            display: inline-block;
            width:40px;
            height:33px;
            vertical-align: middle;
            text-align: center;
        }
    }
    &__image-handler {
        background:rgba(255,255,255,0.9);
    }
    
    &__lightness {
        display:inline-block;
        & > .field_class_locker {
            margin-bottom: 0;
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;
        }
        & > .livesearch {
            display:inline-block;
        }
        &_locked .livesearch {
            opacity:0.4;
        }
    }
    &__th, &__level {
        display:table-row;
        & > div {
            display:table-cell;
            white-space:nowrap;
            padding-right: 15px;
            padding-top:10px;
            padding-bottom: 10px;
            border-bottom:1px solid #CCC;
            & > div {
                vertical-align:middle;
                &.field {
                    margin-bottom:0;
                }
            }
        }
        &:first-child > div {
            border-top:1px solid #CCC;
        }
        &:last-child > div {
            border-bottom:none;
        }
    }
    
    &__th {
        font-size:12px;
        &_inactive {
            display:none;
        }
    }
    
    &__level {
        background:#FFF;
    }
    
    .fx_image_field {
        height: 36px;
        display: inline-block;
        
        .fx_preview_block {
            display:inline-block;
        }
        .fx_preview_filled img {
            max-height:50px;
            display:inline-block;
            margin:0;
        }
        
        .fx_file_controls {
            vertical-align: top;
        }
        
        .fx_file_info {
            display:none;
        }
        .fx_file_killer {
            display:none !important;
        }
    }
    
    .fx-angle-control {
        display:inline-block;
    }
    
    
    &__level-drag-up, &__level-drag-down, &__level-drop {
        cursor:pointer;
        display:inline-block;
        font-size: 20px;
        text-shadow: 2px 2px 1px #ccc;
        width:10px;
        height:10px;
        line-height:0;
        margin-right:10px;
    }
    
    &__level:first-child &__level-drag-up, 
    &__level:last-child &__level-drag-down {
        visibility: hidden;
    }
    
    &__level-drop {
        color:#F00;
        margin-right:15px;
    }
    
    &__level-drag {
        cursor:move;
    }
    
    &__level-controls {
        padding-right:30px !important;
    }
    
    &__level-controls, &__level-value {
        vertical-align:middle;
        padding-left:20px;
    }
    
    &__level-value {
        min-width:200px;
        .fx-palette__value-color-wrapper {
            border:1px solid #CCC;
            border-radius:2px;
            overflow:hidden;
        }
    }
    
    &__level_type_color &__level-value {
        .fx-palette__value-color {
            width:200px;
            height:36px;
            outline:none;
        }
    }
    
    &__close {
        position: absolute;
        top: 8px;
        right: 5px;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        text-align: center;
        font-size: 30px;
        color: #999;
        cursor: pointer;
        &:hover {
            color:#666;
        }
    }
    
    &__label {
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    // gradient chess bg
    &__linear-wrapper {
        display: inline-block;
        border: 1px solid #CCC;
        border-radius:2px;
        width: 200px;
        height: 38px;
        margin-right:15px;
        .fx_chess_background(@size: 5px);
    }
    
    // gradient slider
    &__linear {
        display: inline-block;
        height: 100%;
        width: 100%;
        .fx-number-slider__point {
            overflow:hidden;
            top:100%;
        }
    }
    
    &__add:not(:last-child):after {
        content: '|';
        display: inline-block;
        margin: 0 5px;
        color:#999;
    }
    
    &__add_inactive {
        display:none;
    }
    
    &__popup {
        display:none;
        position:fixed;
        top:100px;
        left:100px;
        background:#FFF;
        padding:10px;
        border:1px solid #CCC;
        border-radius:3px;
        z-index:9999;
    }
    
    textarea&__value {
        display:none;
        width: 100%;
        height: 50px;
        font-size:12px;
    }
}

.fx-css-font-field {
    .livesearch, .fx_input {
        display:inline-block;
        width:auto !important;
        vertical-align:middle;
    }
}

.fx_unstyled_number_input() {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    -moz-appearance:textfield;
}

.fx-angle-control {
    @size: 40px;
    @inp_height:15px;
    @inp_width:30px;
    @point_size: 10px;
    
    width: @size;
    height: @size;
    border-radius:@size;
    border:1px solid #CCC;
    position:relative;
    cursor:pointer;
    
    &__input {
        .fx_unstyled_number_input();
        font-size:12px;
        width:@inp_width;
        height:@inp_height;
        border:none;
        outline:1px solid #EEE;
        position:absolute;
        top: ( @size - @inp_height ) / 2 - 1;
        left: ( @size - @inp_width ) / 2 - 1;
        text-align: center;
        &, &:active, &:focus {
            outline:none;
        }
    }
    
    &__point {
        position:absolute;
        height:@size;
        z-index:1;
        //outline:1px solid #999;
        left:@size / 2;
        &:after {
            content:'';
            display: inline-block;
            position:absolute;
            width:@point_size;
            height:@point_size;
            border-radius:@point_size;
            background:#999;
            left:@point_size / -2;
            top:@point_size / -2;
        }
        &:hover:after {
            background:#333;
        }
    }
}



.fx-shadow-control {
    &__levels {
        display:table;
        margin:-6px -10px 0 -10px;
        .fx_input_number {
            display:inline-block;
        }
    }
    
    &__add-level {
        border-top: 1px solid #ccc;
        margin:0 -10px -10px -10px;
        padding:10px;
    }
    
    &__handler {
        //.fx_chess_background(@size: 5px);
        background:#FFF;
        min-width:40px;
        height:35px;
        display:inline-block;
        cursor:pointer;
        border: 1px solid #ccc;
        border-radius: 3px;
        line-height:0;
        & > span {
            display: inline-block;
            width:40px;
            height:33px;
            vertical-align: middle;
            text-align: center;
        }
    }
    
    &__level {
        display:table-row;
        & > div {
            display:table-cell;
            white-space:nowrap;
            padding-right: 15px;
            padding-top:10px;
            padding-bottom: 10px;
            border-bottom:1px solid #CCC;
            &:last-child {
                padding-right:50px;
            }
            & > div {
                vertical-align:middle;
                &.field {
                    margin-bottom:0;
                }
            }
        }
        &:first-child > div {
            //border-top:1px solid #CCC;
        }
        &:last-child > div {
            border-bottom:none;
        }
    }
    
    &__th {
        font-size:12px;
        &_inactive {
            display:none;
        }
    }
    
    &__level {
        background:#FFF;
    }
    
    .fx_image_field {
        height: 36px;
        display: inline-block;
        
        .fx_preview_block {
            display:inline-block;
        }
        .fx_preview_filled img {
            max-height:50px;
            display:inline-block;
            margin:0;
        }
        
        .fx_file_controls {
            vertical-align: top;
        }
        
        .fx_file_info {
            display:none;
        }
        .fx_file_killer {
            display:none !important;
        }
    }
    
    .fx-angle-control {
        display:inline-block;
    }
    
    
    &__level-drag, &__level-drop {
        cursor:pointer;
        display:inline-block;
        font-size: 20px;
        text-shadow: 2px 2px 1px #ccc;
        width:10px;
        height:10px;
        line-height:0;
    }
    
    &__level-drop {
        color:#F00;
        margin-right:15px;
    }
    
    &__level-controls {
        vertical-align:middle;
        padding-left:20px;
    }
    
    &__close {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        text-align: center;
        font-size: 30px;
        color: #999;
        cursor: pointer;
        &:hover {
            color:#666;
        }
    }
    
    &__label {
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    &__popup {
        display:none;
        position:fixed;
        top:100px;
        left:100px;
        background:#FFF;
        padding:10px;
        border:1px solid #CCC;
        border-radius:3px;
        z-index:9999;
    }
    
    textarea&__value {
        display:none;
        width: 100%;
        height: 50px;
        font-size:12px;
    }
}