.fx_chess_background(@dark: rgba(0,0,0,0.3); @light: #FFF; @size: 6px; @transparent: rgba(0,0,0,0);) {
  background: -webkit-linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), -webkit-linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), @light !important;
  background: -moz-linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), -moz-linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), @light  !important;
  background: linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), @light !important;
  background-position: 0 0, @size @size  !important;
  -webkit-background-origin: padding-box  !important;
  background-origin: padding-box  !important;
  -webkit-background-clip: border-box !important;
  background-clip: border-box !important;
  -webkit-background-size: @size*2 @size*2 !important;
  background-size: @size*2 @size*2 !important;
}
/*
.featured-list-item {
    .fx_chess_background();
    img {opacity:0;}
}
*/


.fx_infoblock_placeholder {
    min-height: 5px;
    min-width: 50px;
    background: #FFF;
    border:3px solid #000;
}

.fx_entity_placeholder {
    min-height: 5px;
    min-width: 5px;
    .fx_chess_background();
    border:3px solid #000;
    outline:3px solid #FF0 !important;
}

.fx_entity_placeholder_inline {
    display:inline-block;
}

.fx_infoblock.ui-sortable-helper {
    //max-width:500px;
    //max-height:150px;
    //overflow:hidden;
    opacity:0.7;
}

.fx_entity_container_sortable .fx_sortable, .fx_entity_container_sortable .fx_sortable * { 
    cursor:move !important;
}

.fx_area_target {
    /*
    display: block !important;
    min-height: 100px;
    min-width: 100px;
    background: #DFD !important;
    box-sizing:border-box;
    ///padding:30px;
    */
    //background: #DFD !important;
    outline:2px dotted #000;
    outline-offset: -2px;
}


.fx_var_editable::selection, .fx_var_editable *::selection {
    background: #FFA;
}


.fx_stop_outline .fx_outline_pane {
    display:none;
}

.fx_outline_pane {
    position:absolute;
    //background-color:@pane_color_hover_dark;
}

.fx_horizontal_dash(@light; @dark; @size) {
    background-image: -webkit-linear-gradient(left, @light 50%, @dark 50%);
    background-image:    -moz-linear-gradient(left, @light 50%, @dark 50%);
    background-image:     -ms-linear-gradient(left, @light 50%, @dark 50%);
    background-image:      -o-linear-gradient(left, @light 50%, @dark 50%);
    background-image:         linear-gradient(left, @light 50%, @dark 50%);
    background-size: @size*3 @size;
}

.fx_vertical_dash(@light; @dark; @size) {
    background-image: -webkit-linear-gradient(@light 50%, @dark 50%);
    background-image:    -moz-linear-gradient(@light 50%, @dark 50%);
    background-image:     -ms-linear-gradient(@light 50%, @dark 50%);
    background-image:      -o-linear-gradient(@light 50%, @dark 50%);
    background-image:         linear-gradient(@light 50%, @dark 50%);
    background-size: @size @size*3;
}

.fx_outliner (@light:transparent; @dark; @size:3px; @shadow:6px; @shadow-color:rgba(50, 50, 50, 0.6) ) {
    &.fx_outline_pane_top, &.fx_outline_pane_bottom {
        .fx_horizontal_dash(@light; @dark; @size);
    }
    &.fx_outline_pane_left, &.fx_outline_pane_right {
        .fx_vertical_dash(@light; @dark; @size);
    }
    &.fx_outline_pane_top {
        box-shadow: 0px -@shadow @shadow*3 @shadow-color;
    }

    &.fx_outline_pane_right {
        box-shadow: @shadow 0px @shadow*3 @shadow-color;
    }

    &.fx_outline_pane_bottom {
        box-shadow: 0px @shadow @shadow*3 @shadow-color;
    }

    &.fx_outline_pane_left {
        box-shadow: -@shadow 0px @shadow*3 @shadow-color;
    }
}

.fx_outline_style_hidden {
    .fx_outliner(@light:#FCC; @dark:#E00; @size:3px; @shadow:0px);
}

.fx_outline_style_selected {
    .fx_outliner(@light:#FF0; @dark:#000; @size:5px; @shadow:3px);
}

.fx_outline_style_selected_light {
    opacity:0;
}

.fx_outline_style_hover {
    //.fx_outliner(@light:rgba(255, 255, 255, 0.6); @dark:rgba(0, 0, 0, 0.6); @size:5px; @shadow:2px; @shadow-color:rgba(50, 50, 50, 0.35));
    .fx_outliner(@light:rgba(255, 255, 255, 0.3); @dark:rgba(0, 0, 0, 0.3); @size:5px; @shadow:2px; @shadow-color:rgba(50, 50, 50, 0.35));
}

.fx_panel_text_expander {
    cursor:pointer;
}

.fx_clearfix {
    //background:#F00;
    //outline:3px solid #FF3;
}

.fx_clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.fx_node_panel_label_font() {
    font-size:15px;
    font-weight:500;
    color:#555;
}

.fx_node_panel {
    //border:1px solid #CCC;
    background:#ececec;
    box-shadow: 0px 0px 10px rgba(50,50,50,0.6);
    border-radius: 2px;
    min-height: 40px;
    display:table;
    
    /*
    > ul, > div, > a {
        //float:left;
        display:table-cell;
        vertical-align:middle;
    }
    */
    
    &.fx_node_panel_too_wide {
        height: auto;
    }
    .fx_node_panel_separator {
        height:31px;
        border-right:1px solid #CCC;
        margin-right:5px;
        &:first-child, &:last-child {
            visibility: hidden;
        }
    }
    .fx_node_panel_label {
        .fx_node_panel_label_font();
        margin-top: 8px;
        margin-right: 5px;
        margin-left:5px;
    }
    
    .date_field {
        margin-top:-2px;
        margin-bottom:-2px;
    }
    
    .fx_node_panel__item-field_name-is_published {
        display: none;
    }
    
    &__item {
        display:table-cell;
        vertical-align:middle;
        
        white-space:nowrap;
        border-right:1px solid #e0e0e0;
        //height:40px;
        padding-left:5px;
        padding-right:5px;
        
        
        
        &:last-child {
            border-right: none;
        }
        &-type-icon {
            cursor:pointer;
        }
        &-type-button {
            padding:0;
        }
        &-type-label {
            padding-top: 11px;
            padding-bottom: 10px;
        }
        &_label {
            vertical-align:middle;
            .fx_node_panel_label_font();
            margin:0 3px;
        }
        
        &-field_type-livesearch {
            // !padding-top:0;
            // !padding-bottom:0;
        }
        &-button-label {
            border-right: none;
        }
    }
    
    &__item-type-icon &__item_label {
        margin-left:6px;
    }
    
    .redactor-toolbar {
        background:none;
        li {
            width:32px;
        }
    }
    .editor_panel {
        // ! padding-top:5px;
    }
    
    
    .fx_label_link {
        cursor:pointer;
    }
    
    .field_livesearch {
    
    
        .monosearch__container {
            //border:1px solid transparent;
            min-width:150px;
        }

        .monosearch__container, input {
            background: #FFF;
        }

        input {
            border:none;
        }

        .form_label {
            margin-right:5px;
            //! margin-top:4px;
        }

        .livesearch_has_value .livesearch_item {
            //margin-top:2px;
        }
        .livesearch_multiple {
            .livesearch_items {
               // margin-top: 2px;
               // padding: 3px;
            }
        }
    }
    .livesearch__container {
        padding-top:2px;
        padding-bottom:2px;
        //margin-top:4px;
    }
    
    .field_colorpicker {
        width:36px;
    }

    .form_label {
        //padding:6px 0 5px 0;
        //float:left;
        margin-right:6px;
        .fx_node_panel_label_font();
    }

    .form_label, .input_container {
        display: inline-block;
        vertical-align: middle;
    }
}

.redactor-dropdown, #redactor-modal-box {
    z-index:3000 !important;
    &, & * {
        box-sizing:border-box;
    }
}

.fx_node_panel .fx_image_field .fx_preview .fx_file_controls,
.fx_image_field .fx_preview.fx_preview_file .fx_file_controls {
    position:static;
    visibility:visible !important;
}

.fx_node_panel {
    .fx_preview img {
        display:none;
    }
    .fx_file_controls {
    
        .fx_file_uploader, 
        .fx_remote_file_block,
        .fx_file_killer,
        .fx_image_cropper
        {
            margin: 0;
            border-left: 1px solid #e0e0e0;
            position: relative;
            padding:5px 7px;
        }
    }
    
    .fx_image_field {
        .fx_preview_block {
            display:none;
        }
        input.remote_file_location {
            padding-top: 6px;
            padding-bottom: 6px;
            margin-top: 0px;
            font-size: 15px;
            padding-left: 7px;
        }
    }
    .fx_remote_file_block.active {
        position: relative;
        margin-right: -50px;
        z-index: 10;
    }
    .field_image {
        .fx_file_controls {
            border:none;
        }
        .input_container {
            margin-top:-5px;
            margin-bottom:-5px;
        }
        .file_input {
            position: absolute;
            left:-10000px;
        }
        .fx_preview {
            line-height:0px;
        }
    }
}


.fx_front_overlay {
    position:absolute; 
    top:0px; 
    left:0px;
    width:100%;
}

.fx_front_overlay .fx_admin_button {
    margin-top:3px;
    margin-left:3px;
}

.fx_node_panel .fx_admin_button_text {
    margin-right:6px;
}

.fx_node_panel_fixed {
    opacity:0.7;
}

.fx_node_panel_fixed:hover {
    opacity: 1;
}

.fx_node_panel .field {
    margin-left:3px;
    //padding:0 7px;
    //border-left:1px solid #CCC;
    //height:29px;
    box-sizing:border-box;
    &:first-child {
        border-left:none;
    }
    label {
        .fx_node_panel_label_font();
        box-sizing:border-box;
    }
}

.fx_node_panel .field_checkbox {
    padding-top:5px;
    box-sizing:border-box;
}


.fx_var_editable {
    /*
        see these
        https://code.google.com/p/chromium/issues/detail?id=427135
        https://code.google.com/p/chromium/issues/detail?id=362398
    */
    -webkit-line-break: normal;
    
    word-wrap: normal;
    
    cursor:text !important;
}

// *[contenteditable="true"] {background: #F00 !important;}

.fx_var_editable:focus, .fx_var_editable * {
    outline:none;
}

.fx_no_hilight {
    opacity:0.3;
}

.fx_hilight_empty {
    min-width: 15px;
    min-height: 15px;
    outline:1px solid #0F0;
}

.fx_hilight_empty_inline {
	display:inline-block;
}


img.fx_hilight {
    //min-width: 5px;
    //min-height: 5px;
}

.fx_selected, .fx_selected:focus, .fx_selected .fx_var_editable {
    outline:none;
    min-width: 10px;
    min-height: 10px;
}

.fx_empty_infoblock {
    display: inline-block;
    color: #999;
    background: #FFF;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    padding: 5px 8px;
}


.fx_infoblock_hidden {
    display:none;
    //opacity: 0.7;
}

.fx_infoblock_hidden .fx_infoblock_hidden {
    opacity:1;
}

body:not(.fx_mode_edit) .fx_entity_hidden {
    display:none !important;
}
/*
.fx_entity_hidden {
    .fx_chess_background(@dark: #FAA; @light: #FEE; @size:10px;);
    &, & * {
        text-shadow:1px 1px 1px #000;
    }
    &>* {
        opacity:0.7;
    }
}
*/

.fx_entity_hidden {
    opacity:0.5;
    &-selected {
        opacity:0.9;
    }
    & & {
        opacity:1;
    }
}

/**
    Placeholders, hidden fields & blocks etc.
*/
.fx_inplace_mark() {
    //.fx_chess_background(@dark: #DDD; @light: #FFF; @size:10px);
    .fx_chess_background(@dark: #f6f6f6; @light: #fcfcfc; @size:10px);
    color:#000 !important;
    outline: 1px dotted #000;
}

.fx_inplace_mark_block() {
    display: block;
    
    box-sizing: border-box !important;
    
    //outline: 1px dotted #000;
    
    border:3px solid #dedede;
    outline:none;
    box-shadow:inset 0px 0px 0px 1px #ccc;
    
    font-size: 16px;
    
    td&.fx_infoblock, td&.fx_area {
        display:table-cell !important;
    }
    
    tbody& {
        display:table-row-group !important;
    }
}

.fx_placeholded_collection > .fx_hidden_placeholder_mark {
    .fx_inplace_mark();
    .fx_inplace_mark_block();
    width:100%;
}

.fx_hidden_placeholded {
    .fx_inplace_mark();
    &.fx_infoblock, &.fx_area {
        .fx_inplace_mark_block();
    }
}
.fx_hidden_placeholded_block {
    .fx_inplace_mark();
    .fx_inplace_mark_block();
}

.fx_area_placeholder {
    display:inline-block;
    padding:10px;
    a {
        .fx_adder_link();
    }
}

.fx_adder_link() {
    cursor: pointer;
    position: relative;
    display: inline-block;
    color:#147EA0;

    &:after {
        content: '';
        border-bottom: 1px dashed #147EA0;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 2px;
    }
}

.fx_hidden_placeholder_mark {
    color:#000;
    padding:10px;
    .fx_adder_variant {
        .fx_adder_link();
    }
}

.fx_editable_empty:after, .fx_var_editable:empty:after {
    content:attr(fx_placeholder);
    height:auto !important;
    visibility:visible;
    display:inline !important;
    //color:#999 !important;
    font-style:italic !important;
    opacity:0.7 !important;
}

.fx_var_editable:empty, .fx_editable_empty {
    text-decoration:none !important;
    white-space: nowrap !important;
}
/*
.fx_var_editable:focus {
    background:#F99 !important;
}
*/

.fx_setting_focus {
    display:inline-block;
    min-width:5px;
    min-height:5px;
}

.fx_hilight_outline {
    &.fx_hilight_hover {
        outline: 2px dashed #888;
    }
    &.fx_selected {
        outline: 2px dashed #000;
    }
}


*[contenteditable="true"]{
    //background:#F00 !important;
}

.fx_help_expander {
    display: block !important;
    position: absolute !important;
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #000 !important;
    background: #000 !important;
    color: #FFF !important;
    border-radius: 12px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 5px 4px 2px 5px !important;
    line-height: 9px !important;
    font-family: arial !important;
    cursor:pointer !important;
    box-sizing:content-box !important;
    opacity:0.3 !important;
    z-index:9999;
    &:hover {
        text-decoration:none !important;
        opacity:1 !important;
    }
}

.fx_help_data {
    position:absolute;
    z-index:10000;
    background:#FFF;
    padding:5px;
    border-radius:2px;
    box-shadow:0 0 10px 2px rgba(0,0,0,0.2);
}
.fx_item_help_block {
    font-size:12px !important;
    font-family:arial  !important;
    margin:15px 0 !important;
    table {
        background:#FFF !important;
        border-collapse:collapse;
    }
    td {
        border:1px solid #EEE !important;
        box-sizing:border-box;
        padding:2px 3px !important;
        &.type_cell {
            width:150px !important;
        }
        &.value_cell {
            width:300px !important;
        }
        &.prop_cell {
            width:150px !important;
            white-space:nowrap !important;
        }
    }
    tr.header {
        font-weight:bold !important;
    }
    a.level_expander {
        color:#06F;
        cursor:pointer !important;
        text-decoration:none !important;
        span.item_type {
            color:#999 !important;
            font-size:11px !important;
            position:relative;
            top:-3px !important;
        }
    }
}

.fx_overlay {
    color:#000;
}

.fx_overlay .fx-top-panel .fx_list_table {
    td.fx_list_cell {
        padding:1px 3px;
        vertical-align:middle;
        font-size:12px;
    }
}

.fx_image_placeholded_hidden {
    display:none;
}

.fx_entity_adder_placeholder:not(.fx_entity_adder_placeholder_active) {
    display:none !important;
}

.fx_linker_placeholder {
    /*
    -webkit-filter: blur(3px);
    filter:blur(3px);
    */
    opacity:0.3;
}

body:not(.fx_mode_edit) .fx_view_hidden {
    display:none;
}

span.fx_area_marker {
    width:0 !important;
    height:0 !important;
    margin:0 !important;
}

// we use special layer for adders to set z-index for it (but not for buttons)
// so we can make "pluses" always over "lines"
.fx_inline_adder_overlay {
    position:absolute;
}

.fx_infoblock {
    //outline:1px solid #F00;
}

.fx_inline_adder {
    position:absolute;
    opacity:0;
    visibility:hidden;
    cursor:pointer;
    
    //outline:1px dotted #666;
    
    &-vertical {
        width:0;
    }
    
    &-horizontal {
        height:0;
    }
    
    &-visible {
        visibility:visible;
        opacity:1;
    }
    
    &-hover {
        z-index:2;
    }
    
    
    .blue_plus() {
        background-position:-1480px -8px;
    }
    
    &__plus {
        //background-color:rgba(255,255,0,0.3);
        opacity:0;
        width:32px;
        height:19px;
        position:absolute;
        z-index:1;
        
        background-image:url('images/sprite.png');
        background-repeat:no-repeat;
        
        // fixed label for non-sortable lists
        &_label {
            white-space: nowrap;
            display: block;
            margin-left: 40px;
            margin-top: 10px;
            margin-right: 15px;
            color: #FFF;
            font-style: normal;
        }
    }
    
    &_placed &__plus {
        transition:margin 0.15s ease;
    }
    
    &__line {
        background:@button_color;
        position: absolute;
        visibility:hidden;
    }
    
    &-horizontal &__plus {
        bottom:-1px;
        left:50%;
        margin-left:-10px;
    }
    
    &-horizontal &__line {
        width:100%;
        height:2px;
        bottom:-1px;
        left:0;
    }

    &-horizontal&-dir_after &__plus {
        bottom:auto;
        top:-2px;
        transform:rotate(180deg);
    }
    
    &-horizontal&-dir_after &__line {
        bottom:auto;
        top:-1px;
    }
    
    &-vertical &__plus {
        transform:rotate(270deg);
        right:-9px;
        top:50%;
        margin-top:-10px;
    }
    
    &-vertical&-dir_after &__plus {
        right:auto;
        left:-9px;
        transform:rotate(90deg);
    }
    
    &-vertical &__line {
        top:0;
        left:-1px;
        display:inline-block;
        height:100%;
    }

    &-outstanding&-horizontal &__line {
        bottom:13px;
    }

    &-outstanding&-horizontal&-dir_after &__line {
        top:14px;
    }

    &-outstanding&-vertical &__line {
        left:-15px;
    }
    &-outstanding&-vertical&-dir_after &__line {
        left:13px;
    }
    
    &-horizontal&_overlapper &__plus {
        margin-left:-34px;
    }
    
    &-horizontal&_overlapped &__plus {
        margin-left:0;
    }
    
    &-vertical&_overlapper &__plus {
        margin-top:-34px;
    }
    
    &-vertical&_overlapped &__plus {
        margin-top:0;
    }
    
    &-infoblock &__plus {
        background-position:-2106px -11px;
        //transform:rotate(0deg);
    }
    
    &-entity &__plus {
        background-position:-2172px -12px;
    }
    
    &-infoblock&-horizontal &__plus {
        //margin-left:-17px;
    }
    
    &-entity&-horizontal &__plus, &-entity&-horizontal &__title {
        //margin-left:12px;
    }

    
    &-infoblock_placer &__plus {
        /*width:40px;
        height:40px;
        background-position:-1283px 0px;
        */
        background-position:-2402px -12px;
    }
    
    &-not_sortable &__plus {
        opacity:1;
        border-radius: 0;
        width:auto;
        height:40px;
        background:#3167ff;
    }
    &-not_sortable &__plus_plus {
        background:url('images/sprite.png') no-repeat;
        .blue_plus();
        display: block !important;
        opacity:1 !important;
        float:left;
        margin-top: 7px;
        margin-left: 8px;
        border: 1px solid rgba(255,255,255,0.7);
        border-radius: 14px;
        width: 26px;
        height: 26px;
    }
    
    &-not_sortable &__plus_label {
        white-space: nowrap;
        display: block;
        margin-left: 45px;
        margin-top: 10px;
        margin-right: 15px;
        color: #FFF;
        font-style: normal;
    }
    
    &:hover, &:hover &__plus {
        opacity:1 !important;
    }
    &:hover &__line {
        visibility:visible;
    }
    
    @ib_line_color_light: #FFF;
    @ib_line_color_dark: rgba(0,0,0,0.5);
    
    &-infoblock &__line {
        background:#000;
        outline:1px solid @ib_line_color_dark;
    }
    
    &-infoblock&-horizontal &__line {
        .fx_horizontal_dash(@ib_line_color_light; @ib_line_color_dark; 6px);
    }
    &-infoblock&-vertical &__line {
        .fx_vertical_dash(@ib_line_color_light; @ib_line_color_dark; 6px);
    }
    &-infoblock&-horizontal&-dir_before &__line {
        bottom:0;
    }
    
    &-infoblock_placer &__line {
        visibility:visible;
        background:#FFB92D;
    }
    
    &-horizontal &__line {
        height:2px;
    }
    
    &-vertical &__line {
        width:2px;
    }
    
    &__title {
        display:none;
        white-space:nowrap;
        background:#FFF;
        position: absolute;
        padding: 0;
        border-radius:2px;
        box-shadow:1px 1px 8px rgba(0,0,0,0.35);
        border:1px solid @mid_color;
        overflow:hidden;
        z-index:1;
        
        & .fx_adder_variant {
            padding:10px 25px;
            color:@button_color;
            border-bottom:1px solid @mid_color;
            font-size: 15px;
            font-weight: 500;
            text-align:center;
            
            &:hover {
                color:#FFF;
                background: @button_color;
            }
            &:first-child {
                //padding-top:0;
            }
            &:last-child {
                //padding-bottom:0;
                border-bottom:none;
            }
        }
    }
    &_horizontal &__title {
        top:1px;
        left:auto;
        right:17px;
    }
    &_hover &__title {
        display: inline-block;
    }
    
    
    &-entity &__plus-with_variants  {
        background-position:-1470px 2px;
    }
    
    &-entity&-horizontal &__plus-with_variants {
        //transform: rotate(45deg) !important;
        //top:-23px !important;
        transform: rotate(45deg) !important;
        top: -23px !important;
        margin-left: -24px !important;
        height: 40px;
        width: 40px;
    }
    
    &-entity&-vertical &__plus-with_variants {
        transform:rotate(-45deg) !important;
        left:-23px !important;
    }
}

.fx_overlay .fx_follow_the_link a {
    color:@button_color;
}

.fx_lens {
    background: rgba(0,0,0,0.25);
    //background: rgba(0,0,0,0.8);
    position: absolute;
}

.fx_infoblock_stub {
    /*
    .fx_inplace_mark();
    .fx_inplace_mark_block();
    &_hidden {
        display:none !important;
    }
    */
    display: none;
}

.redactor-toolbar-tooltip {
    display:none !important;
}

.fx-side-panel {
    background: #FFF;
    position: absolute;
    top: 0;
    
    &_overlap_on {
        width: 40%;
        min-width:500px;    
        right: -42%;
    }
    
    &.fx-side-panel_overlap_off {
        width:400px;
        .field, .input_container {
            margin-bottom:15px;
        }
        .fx_admin_form__tab_labels {
            margin:-15px;
        }
        .fx_tab_label {
            padding-left:10px;
            padding-right:10px;
            &__icon + .fx_tab_label__title {
                max-width:80px;
                overflow:hidden;
                transition:all 1s ease;
                display:inline-block;
            }
        }
        .fx_tab_label:not(.fx_tab_label-active) .fx_tab_label__icon + .fx_tab_label__title {
            max-width:0;
        }
        &.fx-side-panel_side_left {
            left:-400px;
        }
        .fx_admin_form {
            &__body, &__header, &__footer {
                padding:15px !important;
            }
        }
        .fx_input, .livesearch {
            display:inline-block;
        }
    }
    box-shadow: -3px 1px 20px rgba(0,0,0,0.3);
    
    &.fx-side-panel_fluid {
        width:auto;
        min-width:40%;
    }
    
    &__footer {
        padding: 10px 20px;
        position: absolute;
        bottom: 0;
        border-top:1px solid #CCC;
        width:100%;
    }
    
    &__body {
        //overflow: auto;
    }
    
    &_style_alert {
        top:100px;
        right:40px;
        min-width:450px;
        width:auto;
        .fx_admin_form__header {
            border-bottom:none;
            padding-bottom:0;
        }
        .fx_admin_form__footer {
            padding-top:0;
            //margin-left:-20px;
        }
    }
}

.fx_controller_list {
    margin:0 -20px;
}

.fx_controller_group {
    
    cursor:pointer;
    
    padding-left:20px;
    padding-right:20px;
    
    &__title {
        font-size:18px;
        padding:10px 0;
    }
    
    &__children {
        display: none;
        padding-left:20px;
    }
    
    &-active {
        background:#e3e6ff;
        //border-top:1px solid #d8dff5;
        //border-bottom:1px solid #d8dff5;
    }
    
    &-active &__children {
        //display: block;
    }
}

.fx_controller_variant {
    padding:7px 10px;
    &__title {
        font-size:16px;
        color:@button_color;
    }
}

.fx_sorter {
    position:absolute;
    background-color: #ececec;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    padding:4px;
    &, .fx_icon {
        cursor:move;
    }
}

.fx_admin_form-block_overlay {
    &, label, .fx_admin_form__header {
        color:#FFF;
    }
    
    .fx_admin_form__header {
        border:none;
        padding:0;
    }
    
    .fx_admin_form__title {
        margin: 15px 0;
    }
    
    .fx_admin_form__body {
        padding:0;
        margin-bottom:15px;
    }
    
    .fx_admin_form__buttons {
        position: static;
        margin:0;
    }
    
    .fx_button {
        background: none;
        border:1px solid #FFF;
        margin-right: 10px;
        border-radius: 2px;
        color:#FFF;
        &-class-cancel {
            font-weight: 100;
        }
    }
}

.fx_closer {
    font-size: 45px;
    line-height: 100%;
    color:#AAA;
    cursor: pointer;
}

.fx_panel_closer_left {
    .fx_closer();
    margin-right: 20px;
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -25px;
}

.fx_panel_closer_right {
    .fx_closer();
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -25px;
}

.fx-top-panel_style_finish {
    //background:#2d63ff;
    .fx_admin_form__close_icon {
        .fx_panel_closer_left();
    }
    .fx_admin_form {
        min-height:60px;
        text-align:right;
        &__header {
            border:none;
        }
        &__body {
            min-height:60px;
            margin-right:0px;
            &:after {
                content:'';
                display:inline-block;
                vertical-align: middle;
                min-height:60px;
                padding-left:1px;
            }
        }
        
        .field {
            border:none;
            text-align:left;
            vertical-align: middle;
            padding-top: 10px;
            padding-bottom:10px;
            margin-right:20px;
            margin-bottom:0;
            &:last-child {
                margin-right: 0;
            }
        }
        .form_label, .input_container {
            display:inline-block;
            margin:0;
            vertical-align: middle;
        }
        .form_label {
            margin-right: 5px;
            display: inline-block;
        }
        .fx_input {
            margin:0;
        }

        .field_name__eip_fields_container {
            margin-right:0;
        }
        
        .fx_eip_fields_container {
            display: inline-block;
        }
        &__buttons .fx_icon {
            margin-left:40px;
        }
        .fx_full_form_handler, .fx_icon-type-edit {
            //margin-left:30px;
            &:before {
                content: '';
                display: block;
                width: 1px;
                height: 40px;
                border-left: 1px solid #CCC;
                position: relative;
                left: -20px;
                top: -5px;
            }
        }
        .field_checkbox input {
            vertical-align:middle;
        }
        &__header, &__body, &__footer, &__buttons {
            display: inline-block;
            vertical-align: middle;
            padding:0;
        }
        &__header {
            /*
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -25px;
            left: 20px;
            */
            display:inline-block;
            margin-left:20px;
            float:left;
            margin-top:5px;
        }
        &__footer {
            border-left:1px solid #eaeaea;
            margin-right: 20px;
            padding-left: 30px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
        &__footer .field {
            margin-right:0;
            margin-left:30px;
        }
    }
}


.fx_close_cross(@size:30px; @color:#000;) {
    opacity:0.5;
    cursor:pointer;
    &:hover {
        opacity:1;
    }
    width:@size;
    height:@size;
    &:before, &:after {
        position: absolute;
        left: ~"calc(" (@size / 2) ~" - 1px)";
        content: ' ';
        height: 136%;
        width: 2px;
        top:-20%;
        background-color: #333;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

.fx_select_path_panel {
    width: 100%;
    height: 60px;
    background: #FFF;
    z-index: 2;
    position: absolute;
    display:none;
    
    &__cancel {
        position: absolute;
        top: 15px;
        right: 15px;
        .fx_close_cross(30px);
    }
}

.fx_select_path_item {
    display: inline-block;
    padding-top:12px;
    padding-left:35px;
    padding-right:45px;
    height:60px;
    cursor:pointer;
    
    background:url('images/path_arrow.png') no-repeat 100% 50%;
    
    &:first-child {
        padding-left:20px;
    }
    
    &__title, &__controls {
        display:inline-block;
        vertical-align:middle;
    }
    
    &__controls {
        //transition: all 0.8s ease;
        //max-width:1px;
        //opacity:0.2;
        width:1px;
        white-space: nowrap;
        
        margin-left:0;
        overflow:hidden;
        
    }
    
    //&:hover &__controls,
    &-active &__controls {
        margin-left:20px;
        //max-width:130px;
        width:auto;
        opacity:1;
    }
    
    &__type {
        font-size:11px;
        font-weight:500;
        color:#666;
        margin-bottom:3px;
    }
    
    &__label {
        color:#2d63ff;
        font-size:15px;
    }
    
    &-active {
        cursor:default;
    }
    
    &:last-child {
        background:none;
        padding-right:0;
    }
    
    &-active &__label {
        border:none;
        color:#000;
    }
}

.fx_delete_alert {
    p, ul {
        color:#666;
        &:first-child {
            margin-top:0;
        }
        &:last-child {
            margin-bottom:0;
        }
    }
    ul {
       //list-style-type: none; 
    }
}

.fx_sort_helper {
    
    width:100px !important;
    height:30px !important;
    background:#000;
    overflow:hidden;
    * {
        visibility:hidden;
    }
}

.fx_infoblock_cutted {
    transition:opacity 0.4s linear;
    opacity:0.3;
}


.fx_placer_panel {
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    background: #ffe362;
    z-index: 2;
    position: absolute;
    display:block;

    &__block {
        margin-left: 10px;
        margin-right:20px;
    }
    
    &__description {
        display: inline-block;
        vertical-align: middle;
        max-width: 290px;
        font-size: 13px;
        line-height: 150%;
        opacity:0.9;
        font-weight:500;
    }
    
    &__icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background: url('images/sprite.png') no-repeat -1248px -12px;
    }
    &__body {
        float:left;
        width:70%;
    }
    &__closer {
        float:right;
        margin-top:5px;
        margin-right:10px;
        .fx_button-class-cancel {
            border-color:transparent;
        }
    }
}

.fx_placed_block_symbol {
    display:inline-block;
    vertical-align:middle;
    padding:5px;
    background:#FFF;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    .fx_clearfix();
    
    &__icon {
        float:left;
        background:#fff url('images/sprite.png') no-repeat -1190px 0;
        height: 40px;
        width: 42px;
        margin-left:5px;
        margin-right:10px;
        
    }
    &__title {
        float:left;
        margin-right:20px;
    }
    &__type {
        margin-top:5px;
        margin-bottom:3px;
        font-size:12px;
        color:#999;
        font-weight:500;
    }
    &__label {
        font-size:15px;
        font-weight: bold;
    }
}

.fx_grid_livesearch_variant {
    display:block;
    width:200px;
    /*
    margin-right:15px;
    .monosearch__item & {
        margin-right:0;
    }
    */
    &:after {
        content:'';
        clear:both;
        width:1px;
        height:1px;
        display:block;
    }
    &__2_cols {
        .fx_grid_livesearch_col__n {
            width:24%;
        }
        .fx_grid_livesearch_col__w {
            width:74%;
        }
    }
    &__w-w {
        .fx_grid_livesearch_col__w {
            width:49%;
        }
    }
    &__3_cols {
        .fx_grid_livesearch_col__n {
            width:20%;
        }
        .fx_grid_livesearch_col__w {
            width:56%;
        }
    }
    &__3_w {
        .fx_grid_livesearch_col__w {
            width:32%;
        }
    }
    &__3_cols&__2_w {
        .fx_grid_livesearch_col__w {
            width:38%;
        }
    }
}

.fx_grid_livesearch_col {
    display:block;
    float:left;
    background:#FFF;
    border:1px solid #aac0ff;
    height:15px;
    margin-right:2%;
    &:last-child {
        margin-right:0;
    }
    
    .monosearch__item & ,
    .search_item_active & { 
        background:#aac0ff;
    }
    .monosearch__item & {
        height:15px;
    }
}

.fx-infoblock-list-item {
    &__action {
        font-size:11px;
        color:#666;
    }
    
    &__name {
        font-size: 15px;
        margin-bottom: 3px;
    }
}

.fx-block-select {
    &__tab-labels {
        margin-left:-40px;
        margin-right:-40px;
        margin-top:-21px;
        display:table;
        .fx_clearfix();
    }
    &__tab-icon {
        height: 40px;
        width: 40px;
        display: block;
        margin: 0 auto;
        margin-bottom:3px;
        //border: 1px solid #ccc;
        background:url('images/sprite.png') no-repeat 0 0;
        &_content-infoblock {
            background-position:-944px -0px;
        }
        &_content-selected {
            background-position:-986px -0px;
        }
        &_content-filtered {
            background-position:-1025px -0px;
        }
        &_widget {
            background-position:-1851px -0px;
        }
    }
    &__tab-label:hover &__tab-icon, &__tab-label_active &__tab-icon {
        &_content-infoblock {
            background-position:-1062px 1px;
        }
        &_content-selected {
            background-position:-1098px -0px;
        }
        &_content-filtered {
            background-position:-1137px -0px;
        }
        &_widget {
            background-position:-1901px -0px;
        }
    }
    &__tab-label {
        cursor:pointer;
        //height:90px;
        width:25%;
        //float:left;
        display:table-cell;
        font-size:13px;
        font-weight:500;
        text-align:center;
        padding:6px 10px 13px 10px;
        border-top:1px solid #eaeaea;
        border-bottom:1px solid #eaeaea;
        &_active {
            border-bottom:3px solid #ff5741;
            background:#f7f7f7;
        }
    }
    &__tab { 
        display:none;
        &_active {
            display:block;
        }
    }
    &__tab-description {
        font-size: 13px;
        font-weight: 500;
        color: #fb526d;
        margin: 25px 0;
        line-height:170%;
    }
    
    &__items {
        margin:0 -40px;
    }
    
    &__item {
        padding:10px 40px;
        cursor:pointer;
        &:hover {
            background:#f7f7f7;
        }
    }
    
    &__item-title {
        font-size:18px;
    }
}

.fx_form_config_start_icon {
    position: absolute;
    top: 17px;
    right: 30px;
}

.fx_field_is_locked {
    .fx_admin_form & {
        max-height:1px;
        overflow:hidden;
        margin-bottom:0;
        transition:all 0.8s ease;
        opacity:0.5;
    }
}

.fx_admin_form_configurable {
    .fx_field_is_locked {
        max-height:300px;
        overflow:visible;
    }
    .field {
        position:relative;
    }
    .fx_field_config_controls {
        position:absolute;
        top: -3px;
        left: -35px;
    }
    .field_group>.fx_field_config_controls {
        left: 5px;
        top: 4px;
        z-index: 1;
    }
}

.fx_livesearch_scheme {
    
    display: inline-block;
    
    &.fx_livesearch_wrapper_sizing {
        width: 90px;
        height: 21px;
        margin-top: -8px;
        margin-bottom: -6px;

        .c {
            border-left: 1px dotted #999;
            border-right: 1px dotted #999;
            width: 60px;
            display: block;
            height: 21px;
            margin-left: 15px;
            padding-top:5px;
            background:#DDD;
        }

        .w {
            display:block;
            height:12px;
            width:42px;
            border:1px solid #aac0ff;
            background:#DDD;
            margin-left:8px;
            opacity:0.9;
        }

        .d {
            background:#aac0ff;
            display:block;
            height:10px;
            width:40px;
        }

        &.fullwidth {
            .w {
                width:90px;
                margin-left:-16px;
            }
            .d {
                width:88px;
            }
        }
        &.antipad {
            .w {
                width: 60px;
                margin-left:-1px;
            }
            .d {
                width:58px;
            }
        }
        &.fullwidth-outer {
            .w {
                width:90px;
                margin-left:-16px;
            }
            .d {
                width:60px;
                margin-left:14px;
            }
        }
    }
    
    &.fx_livesearch_align, &.fx_livesearch_valign, &.fx_livesearch_padding {
        width: 60px;
        height: 21px;
        display: inline-block;
        margin-top: -8px;
        margin-bottom: -6px;
        background:#DDD;
        border: 1px dotted #999;
        
        .c {
            background:#aac0ff;
            display:block;
        }
    }
    
    &.fx_livesearch_align {
        .c {
            height:19px;
            width:20px;
        }
        &.center .c {
            margin-left:19px;
        }
        &.right .c {
            margin-left:38px;
        }
    }
    
    &.fx_livesearch_valign {
        .c {
            height:7px;
            width:58px;
        }
        &.middle .c {
            margin-top:6px;
        }
        &.bottom .c {
            margin-top:12px;
        }
    }
    
    &.fx_livesearch_padding {
        .c {
            width:100%;
            height:100%;
        }
        &.all {
            padding:5px;
        }
        &.none {
            padding:0;
        }
        &.ns {
            padding:5px 0;
        }
        &.we {
            padding:0 5px;
        }
    }
}

.fx-cropper-popup {
    position:fixed;
    top:0;
    left:0;
    z-index:100000;
    width:100%;
    height:100%;
    //width:30%;
    //height:30%;
    &__wrapper {
        background:#000;
        position:absolute;
        width:100%;
        height:calc(~'100% - 60px');
        //display:flex;
        &_has-color .cropper-bg {
            background-image:none;
        }
    }
    &__image-container {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        /*
        margin:auto;
        display:inline-block;
        outline:1px dotted #CCC;
        */
    }
    &__image {
        max-width:100%;
    }
    &__controls {
        height:60px;                                       
        background:#FFF;
        width:100%;
        position:absolute;
        bottom:0;
        text-align:right;
        padding-top:10px;
        & > * {
            display:inline-block;
            //vertical-align:middle;
            margin-right:20px;
        }
    }
}

.fx-style-tweaker-link {
    display:inline-block;
    vertical-align:middle;
    transform:scale(0.75);
}

.fx_tab_data-wrapper_inactive {
    & > .field:not(.field_name__visual--wrapper) {
        display:none !important;
    }
}

.fx-menu-item_code_role-control .livesearch {
    display:inline-block;
    vertical-align:middle;
    margin-left:10px;
}


@roles: user admin guest;

.fx-hidden {
    display:none;
}

.role_loop (@index:1) when not(@index > length(@roles)) {
    @role: extract(@roles, @index);
    &.fx-root_user-role_@{role} .fx-infoblock_has-user-scope:not( .fx-infoblock_user-scope_@{role} ) {
        &:extend( .fx-hidden );
    }
    .role_loop(@index + 1);
}

html {
    .role_loop();
}

.fx_entity_last_hidden {
    display:none !important;
}

.fx-template-variant-options {
    padding-left: 4px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 34px;
    display: inline-block;
    margin-top: -4px;
    margin-bottom: -3px;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 5px;
    .fx_icon {
        position:relative;
        margin-right:5px;
        margin-top:3px;
        
        &-type-locked {
            //width:25px;
        }
        &:not(:last-child) {
            &:after {
                content:'';
                position:absolute;
                height:34px;
                top:-3px;
                right:-5px;
                width:1px;
                display:block;
                border-right:1px solid #CCC;
            }
        }
    }
    &_locked {
        .fx_icon {
            &-type-locked, &-type-place {
                display:none;
            }
        }
    }
}

.fx-template-visual-fields {
    display:inline-block;
    position:relative;
    min-width:600px;
    min-height:90px;
    //outline:1px dotted #999;
    &_locked &__items {
        opacity:0.4;
    }
    &_locked {
        padding: 20px;
        margin: -20px;
        &:after {
            content:'';
            display:block;
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            z-index:2;
            opacity:0;
            background:#FEE;
            transition:opacity 0.2s ease;
            opacity:0.7;
        }
        &:hover:after {
            opacity:0.7;
        }
    }
    &__unlock-options {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index:3;
        opacity:0;
        transition:opacity 0.2s ease;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        display:none;
    }
    &__unlock-option {
        width: 90px;
        height: 90px;
        //background: #FFF;
        background:rgba(255,255,255,0.3);
        font-size:13.5px;
        padding: 0 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor:pointer;
        transition:all 0.2s ease;
        //border: 1px solid #CCC;
        border-radius: 140px;
        border:1px solid #FFF;
        &:hover {
            background:rgba(255,255,255,1);
            width: 94px;
            height: 94px;
        }
        overflow: hidden;
        justify-content: center;
        &:first-child {
            margin-right: 30px;
        }
        .fx_icon {
            display:block;
            margin-bottom:3px;
            margin-top:-5px;
        }
        
    }
    &_locked &__unlock-options {
        opacity:1;
        display: flex;
    }
}


.fx-infoblock-summary-list {
    display: flex;
    flex-wrap: wrap;
    
    max-height: 260px;
    overflow: auto;
    
    .fx-infoblock-summary {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.fx-infoblock-summary {
    padding: 5px;
    background: #EEE;
    
    &__title {
        font-weight:bold;
    }
    &__extra {
        font-size:12px;
        color:#666;
        font-weight:100;
    }
}