.fx_chess_background(@dark: rgba(0,0,0,0.3); @light: #FFF; @size: 6px; @transparent: rgba(0,0,0,0);) {
  background: -webkit-linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), -webkit-linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), @light !important;
  background: -moz-linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), -moz-linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), @light  !important;
  background: linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), @light !important;
  background-position: 0 0, @size @size  !important;
  -webkit-background-origin: padding-box  !important;
  background-origin: padding-box  !important;
  -webkit-background-clip: border-box !important;
  background-clip: border-box !important;
  -webkit-background-size: @size*2 @size*2 !important;
  background-size: @size*2 @size*2 !important;
}
/*
.featured-list-item {
    .fx_chess_background();
    img {opacity:0;}
}
*/


.fx_infoblock_placeholder {
    min-height: 5px;
    min-width: 50px;
    background: #FFF;
    border:3px solid #000;
}

.fx_entity_placeholder {
    min-height: 5px;
    min-width: 5px;
    .fx_chess_background();
    border:3px solid #000;
    outline:3px solid #FF0 !important;
}

.fx_entity_placeholder_inline {
    display:inline-block;
}

.fx_infoblock.ui-sortable-helper {
    //max-width:500px;
    //max-height:150px;
    //overflow:hidden;
    opacity:0.7;
}

.fx_entity_container_sortable .fx_sortable, .fx_entity_container_sortable .fx_sortable * { 
    cursor:move !important;
}

.fx_area_target {
    /*
    display: block !important;
    min-height: 100px;
    min-width: 100px;
    background: #DFD !important;
    box-sizing:border-box;
    ///padding:30px;
    */
    //background: #DFD !important;
    outline:2px dotted #000;
    outline-offset: -2px;
}


.fx_var_editable::selection, .fx_var_editable *::selection {
    background: #FFA;
}


.fx_stop_outline .fx_outline_pane {
    display:none;
}

@pane_color_hover_light:#EEE;
@pane_color_hover_dark:#000;
//@pane_color_hover_light:#FFF;
//@pane_color_hover_dark:#ececec;

.fx_outline_pane {
    position:absolute;
    //background-color:@pane_color_hover_dark;
}

.fx_outliner (@light:transparent; @dark; @size:3px; @shadow:6px; @shadow-color:rgba(50, 50, 50, 0.6) ) {
    &.fx_outline_pane_top, &.fx_outline_pane_bottom {
        background-image: -webkit-linear-gradient(left, @light 50%, @dark 50%);
        background-image:    -moz-linear-gradient(left, @light 50%, @dark 50%);
        background-image:     -ms-linear-gradient(left, @light 50%, @dark 50%);
        background-image:      -o-linear-gradient(left, @light 50%, @dark 50%);
        background-image:         linear-gradient(left, @light 50%, @dark 50%);
        background-size: @size*3 @size;
    }
    &.fx_outline_pane_left, &.fx_outline_pane_right {
        background-image: -webkit-linear-gradient(@light 50%, @dark 50%);
        background-image:    -moz-linear-gradient(@light 50%, @dark 50%);
        background-image:     -ms-linear-gradient(@light 50%, @dark 50%);
        background-image:      -o-linear-gradient(@light 50%, @dark 50%);
        background-image:         linear-gradient(@light 50%, @dark 50%);
        background-size: @size @size*3;
    }
    &.fx_outline_pane_top {
        box-shadow: 0px -@shadow @shadow*3 @shadow-color;
    }

    &.fx_outline_pane_right {
        box-shadow: @shadow 0px @shadow*3 @shadow-color;
    }

    &.fx_outline_pane_bottom {
        box-shadow: 0px @shadow @shadow*3 @shadow-color;
    }

    &.fx_outline_pane_left {
        box-shadow: -@shadow 0px @shadow*3 @shadow-color;
    }
}

.fx_outline_style_hidden {
    .fx_outliner(@light:#FCC; @dark:#E00; @size:3px; @shadow:0px);
}

.fx_outline_style_selected {
    .fx_outliner(@light:#FF0; @dark:#000; @size:5px; @shadow:3px);
}

.fx_outline_style_selected_light {
    .fx_outliner(@light:rgba(255, 255, 0, 0.5); @dark:rgba(50, 50, 50, 0.3); @size:5px; @shadow:1px; @shadow-color:rgba(50, 50, 50, 0.15));
}

.fx_outline_style_hover {
    //.fx_outliner(@light:#EEE; @dark:#000; @size:3px; @shadow:2px; @shadow-color:rgba(50, 50, 50, 0.35));
    .fx_outliner(@light:rgba(255, 255, 255, 0.6); @dark:rgba(0, 0, 0, 0.6); @size:5px; @shadow:2px; @shadow-color:rgba(50, 50, 50, 0.35));
}

.fx_panel_text_expander {
    cursor:pointer;
}

.fx_clearfix {
    //background:#F00;
    //outline:3px solid #FF3;
}

.fx_clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.fx_node_panel {
    //border:1px solid #CCC;
    background:#ececec;
    box-shadow: 0px 0px 10px rgba(50,50,50,0.6);
    min-height: 40px;
    display:none;
    &.fx_node_panel_too_wide {
        height: auto;
    }
    .fx_node_panel_separator {
        height:31px;
        border-right:1px solid #CCC;
        margin-right:5px;
        &:first-child, &:last-child {
            visibility: hidden;
        }
    }
    .fx_node_panel_label {
        font-size: 16px;
        margin-top: 8px;
        margin-right: 5px;
        margin-left:5px;
    }
    
    .date_field {
        margin-top:3px;
    }
    
    .fx_node_panel__item-field_name-is_published {
        display: none;
    }
    
    &__item {
        white-space:nowrap;
        border-right:1px solid #e0e0e0;
        //height:40px;
        padding:5px;
        &:last-child {
            border-right: none;
        }
        &-type-icon {
            cursor:pointer;
        }
        &-type-button {
            padding:0;
        }
        &-type-label {
            padding-top:9px;
        }
        &_label {
            vertical-align:middle;
            font-size:16px;
            margin:0 3px;
        }
        
        &-field_type-livesearch {
            padding-top:0;
            padding-bottom:0;
        }
    }
    
    .redactor-toolbar {
        background:none;
        li {
            width:32px;
        }
    }
    .editor_panel {
        padding-top:5px;
    }
}

.redactor-dropdown, #redactor-modal-box {
    z-index:3000 !important;
    &, & * {
        box-sizing:border-box;
    }
}

.fx_node_panel > ul, .fx_node_panel > div {
    float:left;
}

.fx_node_panel .field_livesearch {
    .livesearch_items {
        margin-top:3px;
        margin-left:7px;
        padding-top:2px;
        padding-bottom:2px;
    }
    
    .livesearch_multiple .livesearch_items {
        border:1px solid transparent;
    }
    
    .livesearch_items, input {
        background: transparent;
    }
    input {
        border:none;
    }
    
    .form_label {
        margin-right:0;
        margin-top:4px;
    }
    
    .livesearch_has_value .livesearch_item {
        //margin-top:2px;
    }
    .livesearch_multiple {
        .livesearch_items {
           // margin-top: 2px;
           // padding: 3px;
        }
    }
}

.fx_node_panel .fx_image_field .fx_preview .fx_file_controls,
.fx_image_field .fx_preview.fx_preview_file .fx_file_controls {
    position:static;
    visibility:visible !important;
}

.fx_node_panel {
    .fx_preview img {
        display:none;
    }
    .fx_file_controls {
    
        .fx_file_uploader, 
        .fx_remote_file_block,
        .fx_file_killer {
            margin: 0;
            padding: 5px 5px 4px 5px;
            border-left: 1px solid #e0e0e0;
            position: relative;
            //top: -5px;
            margin-bottom: -7px;
            margin-top: -5px;
        }
    }
}


.fx_node_panel .field_colorpicker {
    width:36px;
}

.fx_node_panel .form_label {
    padding:6px 0 5px 0;
    float:left;
    margin-right:6px;
    /*
    &:after {
        content:':';
        font-size: 13px;
        position:relative;
        left:-4px;
    }
    */
}

.fx_node_panel .input_container {
    float:left;
}


.fx_front_overlay {
    position:absolute; 
    top:0px; 
    left:0px;
    width:100%;
}

.fx_front_overlay .fx_admin_button {
    margin-top:3px;
    margin-left:3px;
}

.fx_node_panel .fx_admin_button_text {
    margin-right:6px;
}

.fx_node_panel_fixed {
    opacity:0.7;
}

.fx_node_panel_fixed:hover {
    opacity: 1;
}

.fx_node_panel .field {
    margin-left:3px;
    //padding:0 7px;
    //border-left:1px solid #CCC;
    //height:29px;
    box-sizing:border-box;
    &:first-child {
        border-left:none;
    }
    label {
        font-size:16px;
        font-weight:normal;
        box-sizing:border-box;
        //height:29px;
    }
}

.fx_node_panel .field_checkbox {
    padding-top:5px;
    box-sizing:border-box;
}


.fx_var_editable {
    -webkit-line-break: normal;
    word-wrap: normal;
    cursor:text !important;
}

// *[contenteditable="true"] {background: #F00 !important;}

.fx_var_editable:focus, .fx_var_editable * {
    outline:none;
}

.fx_no_hilight {
    opacity:0.3;
}

.fx_hilight_empty {
    min-width: 15px;
    min-height: 15px;
    outline:1px solid #0F0;
}

.fx_hilight_empty_inline {
	display:inline-block;
}


img.fx_hilight {
    //min-width: 5px;
    //min-height: 5px;
}

.fx_selected, .fx_selected:focus {
    outline:none;
    min-width: 10px;
    min-height: 10px;
}

.fx_empty_infoblock {
    display: inline-block;
    color: #999;
    background: #FFF;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    padding: 5px 8px;
}


.fx_infoblock_hidden {
    display:none;
    //opacity: 0.7;
}

.fx_infoblock_hidden .fx_infoblock_hidden {
    opacity:1;
}

body:not(.fx_mode_edit) .fx_entity_hidden {
    display:none !important;
}

.fx_entity_hidden {
    //.fx_chess_background(@dark: #FAA; @light: #FEE; @size:10px;);
    &, & * {
        //text-shadow:1px 1px 1px #000;
    }
}

/**
    Placeholders, hidden fields & blocks etc.
*/
.fx_inplace_mark() {
    background: #FFFF5C !important;
    color:#000 !important;
    outline: 1px dotted #000;
}

.fx_inplace_mark_block() {
    display: block !important;
    
    box-sizing: border-box !important;
    outline: 1px dotted #000;
    
    margin:15px 0;
    padding: 5px;
    font-size: 16px;
    
    td&.fx_infoblock, td&.fx_area {
        display:table-cell !important;
    }
    
    tbody& {
        display:table-row-group !important;
    }
}


.fx_hidden_placeholded {
    .fx_inplace_mark();
    &.fx_infoblock, &.fx_area, &.fx_placeholded_collection {
        .fx_inplace_mark_block();
    }
}

.fx_hidden_placeholder_mark {
    color:#000;
    .fx_adder_variant {
        cursor: pointer;
        position: relative;
        display: inline-block;
        color:#147EA0;

        &:after {
            content: '';
            border-bottom: 1px dashed #147EA0;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 2px;
        }
    }
}

.fx_editable_empty:after, .fx_var_editable:empty:after {
    content:attr(fx_placeholder);
    height:auto !important;
    visibility:visible;
    display:inline !important;
    //color:#999 !important;
    font-style:italic !important;
    opacity:0.7 !important;
}

.fx_var_editable:empty, .fx_editable_empty {
    text-decoration:none !important;
}
/*
.fx_var_editable:focus {
    background:#F99 !important;
}
*/

.fx_setting_focus {
    display:inline-block;
    min-width:5px;
    min-height:5px;
}

.fx_hilight_outline {
    &.fx_hilight_hover {
        outline: 2px dashed #888;
    }
    &.fx_selected {
        outline: 2px dashed #000;
    }
}


*[contenteditable="true"]{
    //background:#F00 !important;
}

.fx_help_expander {
    display: block !important;
    position: absolute !important;
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #000 !important;
    background: #000 !important;
    color: #FFF !important;
    border-radius: 12px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 5px 4px 2px 5px !important;
    line-height: 9px !important;
    font-family: arial !important;
    cursor:pointer !important;
    box-sizing:content-box !important;
    opacity:0.3 !important;
    z-index:9999;
    &:hover {
        text-decoration:none !important;
        opacity:1 !important;
    }
}

.fx_help_data {
    position:absolute;
    z-index:10000;
    background:#FFF;
    padding:5px;
    border-radius:2px;
    box-shadow:0 0 10px 2px rgba(0,0,0,0.2);
}
.fx_item_help_block {
    font-size:12px !important;
    font-family:arial  !important;
    margin:15px 0 !important;
    table {
        background:#FFF !important;
        border-collapse:collapse;
    }
    td {
        border:1px solid #EEE !important;
        box-sizing:border-box;
        padding:2px 3px !important;
        &.type_cell {
            width:150px !important;
        }
        &.value_cell {
            width:300px !important;
        }
        &.prop_cell {
            width:150px !important;
            white-space:nowrap !important;
        }
    }
    tr.header {
        font-weight:bold !important;
    }
    a.level_expander {
        color:#06F;
        cursor:pointer !important;
        text-decoration:none !important;
        span.item_type {
            color:#999 !important;
            font-size:11px !important;
            position:relative;
            top:-3px !important;
        }
    }
}

.fx_overlay {
    color:#000;
}

.fx_overlay .fx_admin_panel_body .fx_list_table {
    td.fx_list_cell {
        padding:1px 3px;
        vertical-align:middle;
        font-size:12px;
    }
}

.fx_image_placeholded_hidden {
    display:none;
}

.fx_entity_adder_placeholder:not(.fx_entity_adder_placeholder_active) {
    display:none !important;
}

.fx_linker_placeholder {
    -webkit-filter: blur(3px);
    filter:blur(3px);
}

body:not(.fx_mode_edit) .fx_view_hidden {
    display:none;
}

span.fx_area_marker {
    width:0 !important;
    height:0 !important;
    margin:0 !important;
}

.fx_inline_adder {
    position:absolute;
    display:none;
    cursor:pointer;
    
    z-index:10000;
    
    &-visible {
        display:block;
    }
    
    &__plus {
        width:40px;
        height:40px;
        border-radius: 20px;
        background:@button_color;
        box-shadow:1px 1px 8px rgba(0,0,0,0.55);
        position:absolute;
        
        &-with_variants {
            z-index:1;
        }
        
        // fixed label for non-sortable lists
        &_label {
            white-space: nowrap;
            display: block;
            margin-left: 40px;
            margin-top: 10px;
            margin-right: 15px;
            color: #FFF;
            font-style: normal;
        }
    }
    &__plus_plus {
        width: 24px;
        height: 24px;
        border: 2px solid #FFF;
        border-radius: 12px;
        line-height: 0;
        display: block;
        font-weight: 300;
        color: #FFF;
        padding-left: 4px;
        padding-top: 10px;
        position: relative;
        top: 8px;
        left: 8px;
        font-size: 22px;
        margin:0;
    }
    
    &__plus-with_variants &__plus_plus {
        transform: rotate(45deg);
    }
    
    &-not_sortable &__plus {
        border-radius: 0;
        width:auto;
    }
    &-not_sortable &__plus_plus {
        float:left;
    }
    
    &-not_sortable &__plus_label {
        white-space: nowrap;
        display: block;
        margin-left: 40px;
        margin-top: 10px;
        margin-right: 15px;
        color: #FFF;
        font-style: normal;
    }
    
    &-outstanding &__plus {
        width:30px;
        height:30px;
    }
    
    &-outstanding &__plus_plus {
        width: 24px;
        height: 19px;
        border:none;
        top: 5px;
        left: 4px;
        font-size: 27px;
    }
    
    &__line {
        background:@button_color;
        position: absolute;
        top:0;
        left:0;
    }
    
    &-horizontal &__line {
        height:2px;
    }
    
    &-vertical &__line {
        width:2px;
    }
    
    &__title {
        display:none;
        white-space:nowrap;
        background:#FFF;
        position: absolute;
        padding: 0;
        border-radius:2px;
        box-shadow:1px 1px 8px rgba(0,0,0,0.35);
        border:1px solid @mid_color;
        overflow:hidden;
        
        & .fx_adder_variant {
            padding:10px 25px;
            color:@button_color;
            border-bottom:1px solid @mid_color;
            font-size: 15px;
            font-weight: 500;
            text-align:center;
            
            &:hover {
                color:#FFF;
                background: @button_color;
            }
            &:first-child {
                //padding-top:0;
            }
            &:last-child {
                //padding-bottom:0;
                border-bottom:none;
            }
        }
    }
    &_horizontal &__title {
        top:1px;
        left:auto;
        right:17px;
    }
    &_hover &__title {
        display: inline-block;
    }
}

.fx_overlay .fx_follow_the_link a {
    color:@button_color;
}

.fx_lens {
    background: rgba(0,0,0,0.25);
    position: absolute;
}

.fx_infoblock_stub {
    .fx_inplace_mark();
    .fx_inplace_mark_block();
    &_hidden {
        display:none !important;
    }
}

.redactor-toolbar-tooltip {
    display:none !important;
}

.fx_side_panel {
    background: #FFF;
    width: 40%;
    position: absolute;
    top: 0;
    right: -42%;
    box-shadow: -3px 1px 20px rgba(0,0,0,0.3);
    
    &__footer {
        padding: 10px 20px;
        position: absolute;
        bottom: 0;
        border-top:1px solid #CCC;
        width:100%;
    }
    
    &__body {
        overflow: auto;
    }
}

.fx_controller_group {
    
    cursor:pointer;
    
    &__title {
        font-size:18px;
        padding:10px;
    }
    
    &__children {
        display: none;
        padding-left:20px;
    }
    
    &-active {
        background:#f3f6ff;
        border-top:1px solid #d8dff5;
        border-bottom:1px solid #d8dff5;
    }
    
    &-active &__children {
        //display: block;
    }
}

.fx_controller_variant {
    padding:7px 10px;
    &__title {
        font-size:16px;
        color:@button_color;
    }
}

.fx_admin_form-block_overlay {
    &, label, .fx_admin_form__header {
        color:#FFF;
    }
    
    .fx_admin_form__header {
        border:none;
        padding:0;
    }
    
    .fx_admin_form__title {
        margin: 15px 0;
    }
    
    .fx_admin_form__body {
        padding:0;
        margin-bottom:15px;
    }
    
    .fx_admin_form__buttons {
        position: static;
        margin:0;
    }
    
    .fx_button {
        background: none;
        border:1px solid #FFF;
        margin-right: 10px;
        border-radius: 2px;
        color:#FFF;
        &-class-cancel {
            font-weight: 100;
        }
    }
}