.fx_chess_background(@dark: rgba(0,0,0,0.3); @light: #FFF; @size: 6px; @transparent: rgba(0,0,0,0);) {
  background: -webkit-linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), -webkit-linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), @light;
  background: -moz-linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), -moz-linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), @light;
  background: linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), linear-gradient(45deg, @dark 25%, @transparent 25%, @transparent 75%, @dark 75%, @dark 0), @light;
  background-position: 0 0, @size @size;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: @size*2 @size*2;
  background-size: @size*2 @size*2;
}
/*
.featured-list-item {
    .fx_chess_background();
    img {opacity:0;}
}
*/


.fx_infoblock_placeholder {
    min-height: 5px;
    min-width: 50px;
    background: #FFF;
    border:3px solid #000;
}

.fx_essence_placeholder {
    min-height: 5px;
    min-width: 5px;
    .fx_chess_background();
    border:3px solid #000;
    outline:3px solid #FF0 !important;
}

.fx_essence_placeholder_inline {
    display:inline-block;
}

.fx_infoblock.ui-sortable-helper {
    //max-width:500px;
    //max-height:150px;
    overflow:hidden;
    opacity:0.7;
}

.fx_essence_container_sortable .fx_sortable, .fx_essence_container_sortable .fx_sortable * { 
    cursor:move !important;
}

.fx_area_target {
    display: block !important;
    min-height: 100px;
    min-width: 100px;
    background: #DFD !important;
    box-sizing:border-box;
    ///padding:30px;
}


.fx_var_editable::selection, .fx_var_editable *::selection {
    background: #FFA;
}


.fx_stop_outline .fx_outline_pane {
    display:none;
}

@pane_color_hover_light:#EEE;
@pane_color_hover_dark:#000;

.fx_outline_pane {
    position:absolute;
    background-color:@pane_color_hover_dark;
}

.fx_outline_pane_top, .fx_outline_pane_bottom {
    background-image: -webkit-linear-gradient(left, transparent 50%, @pane_color_hover_light 50%);
    background-image: -moz-linear-gradient(left, transparent 50%, @pane_color_hover_light 50%);
    background-image: -ms-linear-gradient(left, transparent 50%, @pane_color_hover_light 50%);
    background-image: -o-linear-gradient(left, transparent 50%, @pane_color_hover_light 50%);
    background-image: linear-gradient(left, transparent 50%, @pane_color_hover_light 50%);
    background-size: 9px 3px;
}

.fx_outline_pane_left, .fx_outline_pane_right {
    background-image: -webkit-linear-gradient(transparent 50%, @pane_color_hover_light 50%);
    background-image: -moz-linear-gradient(transparent 50%, @pane_color_hover_light 50%);
    background-image: -ms-linear-gradient(transparent 50%, @pane_color_hover_light 50%);
    background-image: -o-linear-gradient(transparent 50%, @pane_color_hover_light 50%);
    background-image: linear-gradient(transparent 50%, @pane_color_hover_light 50%);
    background-size: 3px 9px;
}

/* styles for selected element */

.fx_outline_style_selected {
    background-color: #000;
}

.fx_outline_pane_top.fx_outline_style_selected, .fx_outline_pane_bottom.fx_outline_style_selected {
    background-image: -webkit-linear-gradient(left, transparent 50%, #FF0 50%);
    background-image: -moz-linear-gradient(left, transparent 50%, #FF0 50%);
    background-image: -ms-linear-gradient(left, transparent 50%, #FF0 50%);
    background-image: -o-linear-gradient(left, transparent 50%, #FF0 50%);
    background-image: linear-gradient(left, transparent 50%, #FF0 50%);
}

.fx_outline_pane_left.fx_outline_style_selected, .fx_outline_pane_right.fx_outline_style_selected {
    background-image: -webkit-linear-gradient(transparent 50%, #FF0 50%);
    background-image: -moz-linear-gradient(transparent 50%, #FF0 50%);
    background-image: -ms-linear-gradient(transparent 50%, #FF0 50%);
    background-image: -o-linear-gradient(transparent 50%, #FF0 50%);
    background-image: linear-gradient(transparent 50%, #FF0 50%);
}

.fx_outline_pane_top {
    box-shadow: 0px -3px 6px rgba(50, 50, 50, 0.6);
}

.fx_outline_pane_right {
    box-shadow: 3px 0px 6px rgba(50, 50, 50, 0.6);
}

.fx_outline_pane_bottom {
    box-shadow: 0px 3px 6px rgba(50, 50, 50, 0.6);
}

.fx_outline_pane_left {
    box-shadow: -3px 0px 6px rgba(50, 50, 50, 0.6);
}

// HOVER PANES SHADOW:
.fx_outline_pane_top.fx_outline_style_hover {
    box-shadow: 0px -2px 6px rgba(50, 50, 50, 0.35);
}

.fx_outline_pane_right.fx_outline_style_hover {
    box-shadow: 0px -2px 6px rgba(50, 50, 50, 0.35);
}

.fx_outline_pane_bottom.fx_outline_style_hover {
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.35);
}

.fx_outline_pane_left.fx_outline_style_hover {
    box-shadow: -2px 0px 6px rgba(50, 50, 50, 0.35);
}
// ENDOF HOVER PANES SHADOW;

.fx_panel_text_expander {
    cursor:pointer;
}

.fx_clearfix {
    //background:#F00;
    //outline:3px solid #FF3;
}

.fx_clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.fx_node_panel {
    border:1px solid #CCC;
    background:#FFF;
    box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.2);
    height: 31px;
    display:none;
}

.fx_node_panel .redactor_toolbar {
    background:none;
    li {
        width:32px;
    }
}

.redactor_dropdown {
    z-index:3000;
}

.fx_node_panel > ul, .fx_node_panel > div {
    float:left;
}


.fx_node_panel {
    .field_image, .field_file {
        max-height: 31px;
        overflow: hidden;
        .fx_preview {
            img {
                display:none;
            }
            a {
                margin-top:3px;
            }
        }
    }
}

.fx_node_panel .field_livesearch {
    .livesearch_items {
        margin-top:2px;
        border:none;
    }
}

.fx_node_panel .field_colorpicker {
    width:36px;
}

.fx_node_panel .form_label {
    padding:5px 5px 5px 0;
    float:left;
}

.fx_node_panel .input_container {
    float:left;
}


.fx_front_overlay .fx_admin_button {
    margin-top:3px;
    margin-left:3px;
}

.fx_node_panel .fx_admin_button_text {
    margin-right:6px;
}

.fx_node_panel_fixed {
    opacity:0.7;
}

.fx_node_panel_fixed:hover {
    opacity: 1;
}

.fx_node_panel .field {
    margin-left:3px;
    padding:0 7px;
    border-left:1px solid #CCC;
    min-height:31px;
    &:first-child {
        border-left:none;
    }
}

.fx_node_panel .field label {
    font-size:13px;
}

.fx_node_panel .field_checkbox {
    padding-top:5px;
    box-sizing:border-box;
}


.fx_var_editable {
    -webkit-line-break: normal;
    word-wrap: normal;
}

.fx_var_editable:focus, .fx_var_editable * {
    outline:none;
}

.fx_no_hilight {
    opacity:0.3;
}

.fx_hilight_empty {
    min-width: 15px;
    min-height: 15px;
    outline:1px solid #0F0;
}

.fx_hilight_empty_inline {
	display:inline-block;
}


img.fx_hilight {
    //min-width: 5px;
    //min-height: 5px;
}

.fx_selected, .fx_selected:focus {
    outline:none;
    min-width: 10px;
    min-height: 10px;
}

.fx_empty_infoblock {
    display: inline-block;
    color: #999;
    background: #FFF;
    font-size: 12px;
    font-family: Tahoma, sans-serif;
    padding: 5px 8px;
}


.fx_infoblock_hidden {
    display:none;
    opacity: 0.7;
}

.fx_infoblock_hidden .fx_infoblock_hidden {
    opacity:1;
}



.fx_hidden_placeholded {
    background: #FFFF5C !important;
    color:#000 !important;
    &.fx_template_var {
        outline: 1px dotted #000;
    }
    &.fx_infoblock, &.fx_area {
        display: block !important;
        margin-bottom:2px;
        box-sizing: border-box !important;
        outline: 1px dotted #000;
        &.fx_selected, &.fx_hilight_hover {
            //border:none !important;
            //padding:17px !important;
        }
    }
    td&.fx_infoblock, td&.fx_area {
        display:table-cell !important;
    }
}


.fx_editable_empty:after, .fx_var_editable:empty:after {
    content:attr(fx_placeholder);
    height:auto !important;
    visibility:visible;
    display:inline !important;
    color:#999 !important;
    font-style:italic !important;
    opacity:0.5 !important;
}

.fx_var_editable:empty {
    text-decoration:none !important;
}

.fx_hilight_outline {
    &.fx_hilight_hover {
        outline: 2px dashed #888;
    }
    &.fx_selected {
        outline: 2px dashed #000;
    }
}


*[contenteditable="true"]{
    //background:#F00 !important;
}

.fx_help_expander {
    display: block !important;
    position: absolute !important;
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #000 !important;
    background: #000 !important;
    color: #FFF !important;
    border-radius: 12px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 5px 4px 2px 5px !important;
    line-height: 9px !important;
    font-family: arial !important;
    cursor:pointer !important;
    z-index:9999;
}

.fx_help_data {
    position:absolute;
    z-index:10000;
    background:#FFF;
    padding:5px;
    border-radius:2px;
    box-shadow:0 0 10px 2px rgba(0,0,0,0.2);
}
.fx_item_help_block {
    font-size:12px !important;
    font-family:arial  !important;
    margin:15px 0 !important;
    table {
        background:#FFF !important;
        border-collapse:collapse;
    }
    td {
        border:1px solid #EEE !important;
        box-sizing:border-box;
        padding:2px 3px !important;
        &.type_cell {
            width:150px !important;
        }
        &.value_cell {
            width:300px !important;
        }
        &.prop_cell {
            width:150px !important;
            white-space:nowrap !important;
        }
    }
    tr.header {
        font-weight:bold !important;
    }
    a.level_expander {
        color:#06F;
        cursor:pointer !important;
        text-decoration:none !important;
        span.item_type {
            color:#999 !important;
            font-size:11px !important;
            position:relative;
            top:-3px !important;
        }
    }
}

.fx_overlay .fx_admin_panel_body .fx_list_table {
    td.fx_list_cell {
        padding:1px 3px;
        vertical-align:middle;
        font-size:12px;
    }
}

.fx_image_placeholded_hidden {
    display:none;
}

.fx_essence_adder_placeholder:not(.fx_essence_adder_placeholder_active) {
    display:none !important;
}

body:not(.fx_mode_edit) .fx_view_hidden {
    display:none;
}