@input_border_color: #cdcdcd;

@livesearch_bg_color:#E2E9FE;

.livesearch {
    &, & * {
        box-sizing:border-box;
    }
    
    &__container {
        overflow: hidden;
        border: 1px solid @input_border_color;
        width: 100%;
        cursor: text;
        border-radius: 2px;
        position: relative;
        padding-right:35px;
        &_focused {
            border: 1px solid #aac0ff;
            outline-color: #aac0ff;
            outline-offset: -2px;
            outline-style: auto;
            outline-width: 5px;
        }
    }
    
    &__control_arrow {
        position: absolute;
        top:0;
        right:0;
        cursor:pointer;
        width:30px;
        height:100%;
        &:after {
            content:'';
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -3px;
            margin-left: -3px;
            .fx_triangle_down();
        }
        &:hover:after {
            .fx_triangle_down(5px, #666);
        }
    }
    
    &__control_spinner {
        position: absolute;
        top:0;
        right:0;
        cursor:pointer;
        width:30px;
        height:100%;
        z-index:2;
        &:after {
            content:'';
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -3px;
            margin-left: -3px;
            
            border:3px dotted #aac0ff;
            border-radius:5px;
            width:4px;
            height:4px;
            -webkit-animation: livesearch_spinner 1s infinite linear;
        }
    }
    
    &__input, .fx_form_vertical input&__input, .fx_form_horizontal input&__input {
        width:34px;
    }
}

@-webkit-keyframes livesearch_spinner {
  0% {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}

.fx_node_panel .livesearch__container {
    padding-top:2px;
    padding-bottom:2px;
    margin-top:4px;
}

/* STYLES FOR MULTI */
    
.multisearch {
    &__input, 
    &__item {
        height: 27px;
        float: left;
        white-space: nowrap;
        margin: 0px;
    }
    
    &__container {
        padding-top:5px;
        padding-left:5px;
    }
    
    &__item {
        padding: 4px 7px;
        margin-bottom: 5px;
        margin-right: 5px;
        cursor: pointer;
        background:@livesearch_bg_color;
        border-radius:2px;
        box-sizing:border-box;
        &.ui-sortable-helper {
            border: 1px solid #aaa;
            box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
            margin-top:2px;
        }
    }
    
    &__item-killer, &__item-title {
        display: inline-block;
        vertical-align: middle;
    }
    
    &__item-title {
        font-size:13px;
        max-width: 120px;
        overflow: hidden;
        position:relative;
        &:after {
            display: block;
            width: 30px;
            height: 15px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0) , @livesearch_bg_color);
            content: '';
            position: absolute;
            top: 0;
            left: 90px;
        }
    }
    
    &__item_empty &__item-title {
        color: #E99;
    }
    
    &__item-killer {
        display: inline-block;
        margin-left: 5px;
        line-height:15px;
        cursor: pointer;
        color: #a3bbff;
        font-size: 28px;
        font-weight: 300;
        &:hover {
            color:#F00;
        }
    }
    
    &__input {
        padding: 4px 7px;
        margin-bottom:5px;
        //background:#F99;
        vertical-align: top;
        border: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 27px;
        min-width: 30px;
    }
}

.fx_admin_form .fx_fieldset input.multisearch__input, .multisearch__item {
    margin-bottom:4px;
}


.monosearch {
    &__container {
        padding:5px;
        padding-right:30px;
        cursor:text;
    }
    &_has-value &__container {
        background:@livesearch_bg_color;
        cursor:pointer;
    }
    
    &__input, &__item-title {
        height: 25px;
        padding: 5px 7px;
        display: inline-block;
        font-size: 14px;
    }
    
    &__input {
        display: block;
        width: 100%;
        border: none;
        &, &:focus {
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    &__item {
        // input right extra width
        padding-right:20px;
    }
}

/* Suggests */
.fx_suggest_box {
    background: #FFF;
    border: 1px solid @input_border_color;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
    display: none;
    max-height: 205px;
    min-width:150px;
    max-width: 500px;
    overflow: auto;
    z-index: 88889;
    div {
        cursor: pointer;
        color: #000;
        font-size: 14px;
        padding:6px 8px;
    }
    .search_item_active {
        background: #f2f5ff;
        color:@button_color;
    }
}