@input_border_color: #cdcdcd;

@livesearch_bg_color:#E2E9FE;
@livesearch_bg_color:#f0f3ff;

.ls_triangle_down(@size:5px; @color:@mid_color;) {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: @size solid transparent;
    border-right: @size solid transparent;
    border-top: @size solid @color;
}

.livesearch {
    &, & * {
        box-sizing:border-box;
    }
    
    &__container {
        overflow: hidden;
        border: 1px solid @input_border_color;
        width: 100%;
        cursor: text;
        border-radius: 2px;
        position: relative;
        padding-right:35px;
        &_focused {
            border: 1px solid #aac0ff;
            outline-color: #aac0ff;
            outline-offset: -2px;
            outline-style: auto;
            outline-width: 5px;
        }
    }
    
    &__control_arrow {
        position: absolute;
        top:0;
        right:0;
        cursor:pointer;
        width:30px;
        height:100%;
        &:after {
            content:'';
            position: absolute;
            left: 35%;
            top: 50%;
            margin-top: -3px;
            margin-left: -3px;
            .ls_triangle_down();
        }
        &:hover:after {
            .ls_triangle_down(5px, #666);
        }
    }
    
    &__control_spinner {
        position: absolute;
        top:0;
        right:0;
        cursor:pointer;
        width:30px;
        height:100%;
        z-index:2;
        &:after {
            content:'';
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -3px;
            margin-left: -3px;
            
            border:3px dotted #aac0ff;
            border-radius:5px;
            width:4px;
            height:4px;
            -webkit-animation: livesearch_spinner 1s infinite linear;
            box-sizing:content-box;
        }
    }
    
    &__input, .fx_form_vertical input&__input, .fx_form_horizontal input&__input {
        width:34px;
    }
}

@-webkit-keyframes livesearch_spinner {
  0% {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}

/* STYLES FOR MULTI */
    
.multisearch {
    &__input, 
    &__item {
        height: 27px;
        float: left;
        white-space: nowrap;
        margin: 0px;
    }
    
    &__container {
        padding-top:5px;
        padding-left:5px;
    }
    
    &__item {
        padding: 4px 7px;
        margin-bottom: 5px;
        margin-right: 5px;
        cursor: pointer;
        background:@livesearch_bg_color;
        border-radius:2px;
        box-sizing:border-box;
        &.ui-sortable-helper {
            border: 1px solid #aaa;
            box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
            margin-top:2px;
        }
    }
    
    &__item-path {
        .ls_pathitem();
        vertical-align: middle;
        margin-right: 6px;
    }
    
    &__item-killer, &__item-title {
        display: inline-block;
        vertical-align: middle;
    }
    
    &__item-title {
        font-size:13px;
        max-width: 120px;
        overflow: hidden;
        position:relative;
        &:after {
            display: block;
            width: 30px;
            height: 15px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0) , @livesearch_bg_color);
            content: '';
            position: absolute;
            top: 0;
            left: 90px;
        }
    }
    
    &__item_empty &__item-title {
        color: #E99;
    }
    
    &__item-killer {
        display: inline-block;
        margin-left: 5px;
        line-height:15px;
        cursor: pointer;
        color: #a3bbff;
        font-size: 28px;
        font-weight: 300;
        &:hover {
            color:#F00;
        }
    }
    
    &__input {
        padding: 4px 7px;
        margin-bottom:5px;
        //background:#F99;
        vertical-align: top;
        border: none;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 27px;
        min-width: 30px;
        background:transparent;
    }
}

.fx_admin_form .fx_fieldset, .fx_form_horizontal, .fx_form_vertical {
    input.multisearch__input {
        margin-bottom:4px;
    }
}
.multisearch__item {
    margin-bottom:4px;
}

.ls_pathitem() {
    display: inline-block;
    line-height: 15px;
    white-space: nowrap;
    font-size: 11px;
    color: #666;
    letter-spacing: 0.8px;
    font-weight:300;
}


.monosearch {
    &__container {
        //padding:5px;
        padding:4px 5px 3px 5px;
        padding-right:30px;
        cursor:text;
    }
    &_has-value &__container {
        background:@livesearch_bg_color;
        cursor:pointer;
    }
    
    &_has-value &__input {
        position: absolute;
        left:-10000px;
    }
    
    &__input, &__item-title {
        background:transparent;
        padding: 5px 7px;
        display: inline-block;
        line-height:100%;
        max-width:600px;
        overflow: hidden;
        padding-right:0;
        &, .fx_form_vertical &, .fx_form_horizontal & {
            font-size: 14px;
        }
    }
    &__input {
        //transition: width 0.2s ease;
        margin-right:-10px !important;
    }
    
    &__item-title {
        padding-top:5px;
        padding-bottom:4px;
        padding-right:0;
        //line-height:15px;
        line-height:130%;
        white-space:nowrap;
        &.search_item__custom-value {
            input.fx_input_number {
                display:inline-block;
            }
        }
    }
    
    &__item-path {
        .ls_pathitem();
        vertical-align: top;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    
    &__input {
        display: block;
        //width: 100%;
        border: none;
        //padding-top:4px;
        padding-top:5px;
        &, &:focus {
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
    &__item {
        // input right extra width
        // padding-right:20px;
        line-height:0px;
    }
    &_no-empty &__input {
        position:absolute;
        top:15px;
        left:10px;
        font-size:1px;
        height:1px;
        padding:0;
        padding-left:20px;
        z-index:-1;
    }
    &_no-empty &__item {
        padding-right:0;
    }
    &_no-empty &__container {
        background:#FFF;
    }
    
    &__item-controls {
        padding-left: 4px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        height: 34px;
        display: inline-block;
        margin-top: -4px;
        margin-bottom: -3px;
        vertical-align: top;
        margin-left: 10px;
        margin-right: 5px;
        
        .fx_icon {
            position:relative;
            margin-right:5px;
            margin-top:3px;

            &:not(:last-child) {
                &:after {
                    content:'';
                    position:absolute;
                    height:34px;
                    top:-3px;
                    right:-5px;
                    width:1px;
                    display:block;
                    border-right:1px solid #CCC;
                }
            }
        }
    }
}

/* Suggests */
.fx_suggest_box {
    background: #FFF;
    border: 1px solid @input_border_color;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
    display: none;
    max-height: 300px;
    min-width:260px;
    max-width: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 88889;
    .search_item {
        cursor: pointer;
        color: #000;
        font-size: 14px;
        padding:6px 8px;
    }
    
    .search_item__path-chunk, 
    .search_item__path-separator 
    {
        .ls_pathitem();
    }
    
    .search_item {
        &__path-chunk, &__path-separator, &__name {
            display:inline-block;
            vertical-align:middle;
        }
    }
    
    .search_item__path-separator {
        display:inline-block;
        margin:0 6px;
        //font-size:15px;
    }
    
    .search_group_collapsed {
        & > .search_group_children {
            display:none;
        }
    }
    .search_group_children {
        //padding-left:20px;
    }
    .search_item_active {
        background: #f2f5ff;
        color:@button_color;
    }
    .search_item_disabled {
        color:#999; 
    }
    .search_item_level {
        &_1 {
            padding-left:25px;
        }
        &_2 {
            padding-left:50px;
        }
        &_3 {
            padding-left:75px;
        }
        &_4 {
            padding-left:100px;
        }
    }
    
    .search_group_toggler {
        color:#AAA;
        font-size:12px;
        display:inline-block;
        margin-left:5px;
        padding:0 5px;
        &:hover {
            color:@button_color;
        }
    }
}