.fx_overlay {

&, & * {
    box-sizing:border-box;
}

font-family:Roboto, Arial;

a, a:visited {
    color:@button_color;
}

&#fx_admin_panel, #fx_admin_panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: @panel_height;
    background-color: @alt_color;
    z-index: 2677;
    padding:10px;
    border-bottom:1px solid #ddd;
}

#fx_admin_panel_logo {
    float:left;
    width: 45px;
    height:40px;
    background:url('images/sprite.png') no-repeat  0 0;
    margin-right: 30px;
}

#fx_admin_main_menu {
    float:left;
    margin-right: 30px;
}

#fx_admin_front_menu {
    float:left;
}

#fx_admin_additional_menu {
    float:right;
}


&#fx_admin_control, #fx_admin_control {
    width: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    //top: @panel_height;
    top:0;
    z-index: 2680;
    &.fx_admin_control_admin {
        //position: relative !important;
        //left: auto;
        //top: auto;
        //height: 31px;
        position:absolute !important;
        top:0;
        right:0;
        left:auto;
        width:auto !important;
    }
    #fx_admin_buttons {
        //margin: 6px 0 0 10px;
        overflow:hidden;
        margin-left:20px;
        &>div {
            float:right;
            margin-top:10px;
        }
    }

    #fx_admin_statustext span {
        cursor: auto;
    }

    #fx_admin_statustext.error {
        border: 1px solid red;
        color: red;
    }
    
    .fx_admin_pull_down_menu {
        z-index: 16777272;
        position: fixed;
        background: #4c5051;
    }

    .fx_admin_pull_down_menu span {
        display: block;
        height: 24px;
        line-height: 24px;
        font-family: Tahoma, sans-serif;
        font-size: 12px;
        font-variant: small-caps;
        text-transform: lowercase;
        color: #CCC;
        white-space: nowrap;
        cursor: pointer;
        padding: 0 10px;
    }

    #fx_admin_editinplace_buttons {
        float: left;
        padding-top: 6px;
    }

    #fx_admin_editinplace_buttons span {
        height: 21px;
        border: 2px solid #40b8df;
        cursor: pointer;
        font-family: Tahoma, sans-serif;
        font-variant: small-caps;
        font-size: 14px;
        line-height: 21px;
        text-transform: lowercase;
        color: #16a3cc;
        margin: 0 0 0 10px;
        padding: 2px 7px 3px;
    }
}

}


.fx_button {
    display: inline-block;
    background: @button_color_inverted;
    text-decoration: none;
    padding:10px 20px;
    border:1px solid @mid_color;
    border-radius: 3px;
    font-weight:500;
    cursor:pointer;
    white-space:nowrap;
    
    &, &__extra {
        color:@button_color;
    }
    
    &-active {
        background: @button_color;
        border-color:@button_color;
    }
    &-active, &-active .fx_button__extra {
        color:@button_color_inverted;
    }
    
    &-in_group {
        border-radius: 0;
        border-right: 0;
        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-right: 1px solid @mid_color;
        }
    }
    
    &-in_dropdown {
        display:block;
        border-radius: 0;
        border-bottom:none;
        &:first-child {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        &:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-bottom: 1px solid @mid_color;
        }
    }
    
    &-active&-in_dropdown:last-child {
        border-bottom:1px solid @button_color;
    }
    
    &-in_node_panel {
        padding:10px 9px;
        font-size:15px;
        border-radius:0;
    }
    
    
    &-has_dropdown {
        position: relative;
        .fx_button__arrow {
            .fx_triangle_down();
            position: relative;
            left:5px;
            top:-2px;
        }
        &.fx_button-active .fx_button__arrow {
            .fx_triangle_down(5px; @button_color_inverted);
        }
    }
    
    &__add_text {
        display: inline-block;
        padding-left:32px;
        padding-right:10px;
        position:relative;
        &:before {
            content:'';
            display: inline-block;
            width:26px;
            height:26px;
            position:absolute;
            top:-5px;
            left:4px;
            background:url('images/sprite.png') no-repeat -61px 0;
        }
    }
}

.fx_dropdown {
    position: absolute;
    left:0;
    top:38px;
    display: none;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.fx_icon {
    height:30px;
    width:30px;
    background:url('images/sprite.png') no-repeat 0 0;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    &-type-edit {
        background-position: -105px 0;
    }
    
    &-type-publish {
        background-position:-162px 7px;
    }
    
    &-type-unpublish {
        background-position: -244px 7px;
    }
    
    &-type-move {
        background-position:-292px 0;
    }
    
    &-type-delete {
        background-position: -204px 3px;
    }
    
    &-type-settings {
        background-position: -602px -1px;
    }
}
