<!--[input ? _c.type === 'group']-->
<?
var b = 'fx-field-group';
?>
<div class="<?=b?> <?=b?>_keyword_<?=_c.keyword?>">
    <div class="<?=b?>__title" tabindex="0">
        <div class="<?=b?>__name"><?= _c.label ?></div>
        <?if (_c.description) {?>
            <div class="<?=b?>__description"><?= _c.description ?> </div>
        <?}?>
        <div class="<?=b?>__expander"></div>
    </div>
    <div class="<?=b?>__fields"></div>
</div>

<!--[label ? _c.type === 'group']-->
<span></span>