<!--[input ? _c.type === 'map']-->
<div class="fx_map_field">
    
    <input 
        type="text" 
        name="<?=_c.name?>" 
        class="fx_input map_address_input" 
        value="<?=_c.value ?>" />
    <a class="map_link">map</a>
    <div class="map_container"></div>
</div>