<!--[input ? _c.type == 'ratio']-->
<div class="fx-ratio-input">
    <div class="fx-ratio-input__trigger">
        <span class="fx-ratio-input__visible"><span></span></span>
        <input type="hidden" <?=$t.field_id_name(_c)?> class="fx-ratio-input__value" />
    </div>
    <div class="fx-ratio-input__control">
        
    </div>
</div>